

// .horizontalLine {

//   width: 100%;
//   height: 15px; /* Adjust thickness*/
//   background-color: black;
//   border: black;
//   margin-top: 20px; 
  
  
// }

.horizontalLineDiv {
  position: absolute;
  min-width: 100%;
  transform: translateY(-50%); /* Ajusta el contenedor verticalmente */
  display: flex;
  justify-content: flex-end; /* Centra horizontalmente */
}

.DividerImg {
  min-width: 100%;
  //max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
  height: auto; /* Permite que la altura de la imagen se ajuste automáticamente */
}


