@mixin link-scale-effect($type: 'default') {

  transition: transform 0.2s ease;


  @if $type == 'icon' {
    &:hover {
      transform: scale(var(--animation-icon-hover-scale));
    }

    &:active {
      transform: scale(var(--animation-icon-active-scale));
    }
  }

  @else {
    &:hover {
      transform: scale(var(--animation-link-hover-scale));
    }

    &:active {
      transform: scale(var(--animation-link-active-scale));
    }
  }


}

@mixin custom-scrollbar {
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #FFF;
    border-radius: 10px;
    border: 1px solid #000;
  }

  &::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
  }
}


@mixin position-absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
