.mainContent {
  display: flex;
  flex: 1;
  overflow-y: auto;
}
.sideNavbar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbarSide {
  ul {
    li {
      &:hover {
        color: orange; // Example: Yellow color for hover
      }

      &.active {
        color: orange; // Example: Yellow color for active item
        border-left: 4px solid yellow; // Example: Left border for active item
      }
    }
  }
}
