.mainContent {
  display: flex;
  flex: 1;
  overflow-y: auto;
}

.navbarSide {
  ul {
    li {
      transition: color 0.5s, border-left 0.2s;
      &:hover {
        color: orange;
      }

      &.active {
        color: orange;
        border-left: 4px solid yellow;
      }
      &:focus {
        outline: none;
      }
      &:active {
        outline: none;
      }

      user-select: none;
    }
  }
}
