.baseAuthForm.baseAuthForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 806px;
    margin: 0 auto;
    background: var(--base-card-background);
    border: 2px solid #000000;
    box-shadow: 6px 12px 0px var(--drop-shadows);
    border-radius: 12px;
    padding: 44px 80px;
    gap: 36px;
    box-sizing: border-box;
    min-height: 852px;

    input[type='checkbox'] {
        appearance: none;
        -webkit-appearance: none;
        width: 24px;
        height: 24px;
        padding: 0;
        margin-right: 8px;
        cursor: pointer;
        flex: none;
        background: #FFA100;
        border: 1px solid #121212;
        border-radius: 4px;
        box-shadow: 1px 1px 0px #121212;
        position: relative;

        &:checked {
            background-image: url('../../../../shared/assets/icons/check.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 16px 14px;
        }
    }

    .actions button {
        background-color: var(--content-primary);
        color: var(--drop-shadows);
        border: 2px solid var(--drop-shadows);
        box-shadow: 2px 4px 0px var(--drop-shadows);
        border-radius: 25px;
        padding: 12px 24px;
        height: 47px;
        font-family: var(--font-family-secondary);
        font-size: 18px;
        font-weight: 500;
        line-height: 23px;
        letter-spacing: -0.04em;
    }

    @media (max-width: breakpoint(md)) {
        padding: 32px 40px;
    }

    @media (max-width: breakpoint(sm)) {
        padding: 24px 20px;
    }
}

.logo {
    width: 282px;
    height: 238px;
    object-fit: contain;
    margin: 0 auto;
}

.fields {
    gap: 24px;
    width: 100%;
    max-width: 460px;
    margin: 0 auto;
    font: var(--font-dm-bold-s);

    label {
        font: var(--font-dm-s);
        color: #faf9f6;
        margin-bottom: 8px;
        padding-left: 8px;
        display: flex;
        align-items: center;
    }

    input {
        background-color: #172936;
        color: #cbcBCB;
        border: none;
        border-radius: 25px;
        padding: 12px 24px;
        height: 47px;
        width: 100%;
        box-sizing: border-box;
    }

    input::placeholder {
        color: #cbcBCB;
    }

    input:focus::placeholder {
        color: transparent;
    }
}

.header {
    font: var(--font-sw-xxxl);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--content-primary);
}

.actions {
    text-align: center;
    gap: 16px;
    width: 100%;
    max-width: 460px;
    margin: 0 auto;
    color: var(--white);

    button {
        width: 100%;
    }

    p {
        color: var(--white);
    }

    a {
        text-decoration: underline;
        color: var(--content-primary);
    }
}
