.fields {
    gap: 8px;

    input {
        background-color: var(--background-color);
        color: white;
        border: 2px solid rgba(18, 18, 18, 1);
        border-radius: 25px;
        padding: 8px;
    }
    input::placeholder {
        color: var(--primary-color);
    }
    input:focus::placeholder {
        color: transparent;
    }
}
.header {
    display: flex;
    font-size: 0.8em;
    justify-content: start;
    font-weight: 300;
}

.actions {
    gap: 12px;
    text-align: center;
}
