.SocialSection {
  margin: 0 auto;
  max-width: 1000px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  justify-items: center;

  & > *{
    cursor: pointer;
    &:hover{
      transform: scale(var(--animation-link-hover-scale));
    }

    &:active{
      transform: scale(var(--animation-link-active-scale));
    }
  }
  @media only screen and (min-width: 480px) and (max-width: 768px) {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}


.item{
  display: flex;
  align-self: center;
}
