.MembersPage{

}

.workersSection{
  padding-top: 200px;
  z-index: 2;

  @media only screen and (min-width: 1921px) {
    * {
      font-size: xxx-large!important;
    }
  }

}

.wholePageBG{
  filter: brightness(85%);
}

