.workersSection {
    z-index: 2;
}

.Members {
    width: 100%;

    @media (max-width: breakpoint(lg)) {
        display: flex;
        justify-content: center;
    }
}


.buttonContainer {
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-bottom: 1rem;

    @media (max-width: breakpoint(lg)) {
        justify-content: flex-start;
        width: 95%;
    }
}

.diveButton {
    border-radius: var(--border-radius-custom);
    min-width: fit-content;
    width: 1rem;
    align-self: center;
    background-color: var(--primary-color);
    color: var(--black);
    border-style: solid;
    border-color: var(--black);
    padding: 6px 8px;
}

.MosaicGrid{
    margin-top: 3em;
    margin-bottom: 3em;
}
