.Paragraph {
    padding: 2%;
    background-color: var(--transparent-bg-darker);
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;

    h2 {
        margin-bottom: 1rem;
    }

    p {
        margin: 0.5rem 0;
    }

    border-radius: var(--border-radius-custom);
}
