.DropdownWrapper {
  cursor: pointer;
  user-select: none;
  @media screen and (min-width: 1024px) {
    white-space: nowrap;
  }
}

.DropdownWrapper.contentAbsolute {
  position: relative;

  .dropdownContent {
    position: absolute;
  }
}

.dropdownContent {
  display: grid !important;
  transform-origin: top;
  transform: scaleY(0);
  transition: opacity 0.2s ease-in, transform 0.2s ease-in;
}

.DropdownWrapper:hover .dropdownContent {
  opacity: 1;
  transform: scaleY(1);
}

.dropdownContent.closed {
  
  transform: scaleY(0);
  @media screen and (max-width: 1024px) {
    outline: 0;
    border: 0;

    overflow: hidden;
    & > * {
      display: none;
    }

    padding: 0 !important;
  }
}

.childrenWrapper {
  display: flex;
  align-items: center;
  gap: 7px;
}

.disabled {
  color: #c0c0c0;
  //pointer-events: none;
  opacity: 0.5;
  //text-decoration: none;
  cursor: not-allowed !important;
  transform: none !important;
  transition: none !important;
}
