.barIndicatorContainer {
  display: flex;
  gap: 4px;
  width: fit-content;
  height: 100%;
  min-height: 1.5rem;
  overflow: visible;
}
.bar {
  width: 5px;
  background-color: var(--primary-color);
  height: 100%;
  border-radius: 2px;
}