.DeleteClanBtn {
    background-color: var(--error);
    @include link-scale-effect;
    font: var(--font-dm-l);
}

.EditClanBtn {
    background-color: rgba(0, 0, 0, 0.7);
    @include link-scale-effect;
    font: var(--font-dm-l);
}

.JoinClanBtn {
    background-color: rgba(0, 0, 0, 0.7);
    @include link-scale-effect;
    font: var(--font-dm-l);
}

.lock {
    display: flex;
    max-width: 40px;
    height: auto;
}