.Wrapper {
  display: flex;
  flex-direction: column;
  //min-height: 80vh;
  padding-top: 130px;
  padding-bottom: 130px;

  position: relative;

}


.Container{
  flex-grow: 1;
  border-radius: var(--border-radius-custom);
  //background-color: var(--transparent-bg-dark);
  h2{
    font: var(--font-xxxl);
    line-height: 1.5;
    text-align: center;
    margin-bottom: 40px;
  }

}

@media (max-width: 350px) {

  .Container {
    h2 {
      font: var(--font-xxl);
    }
  }
}

.galleries{
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}
