
.headerImg {
    width: 71.5%;
    height: 80vh;
    border-radius: var(--border-radius-lg);
    border-style: solid;
    border-width: var(--border-desktop);
    border-color: var(--black);
    box-shadow: 3px 4px black;
    justify-items: center;

    @media (max-width: breakpoint(md)){
        width: 90%;
        height: 50vh;
        display: flex;
        justify-self: flex-start;
      }
    
}

.HeaderContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: 100%;
    margin-top: 5vh;
    h2 {
        font-family: var(--font-family-title),serif;
        color: var(--primary-color);
        font-size: var(--h2-size-desktop);
    }
}

.HeaderImageContainer {
    justify-content: center;
    display: flex;
    width: 100vw;
}

.TitleContainer {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
}

.Searchfield {
    background: transparent;
    border: none;
    color: var(--primary-color);
    margin-left: 0.5em;
    outline: none;
    font-family: var(--primary-font),serif;
    
    &::placeholder {
        color: var(--primary-color);
    }
}

.inputContainer {
    display: flex;
    align-items: center;
    background-color: var(--background);
    color: var(--primary-color);
    padding: 0.4em 1em;
    border-radius: 9999px;
    width: fit-content;
    border-style: solid;
    border-color: var(--black);
    border-width: 3px;
    box-shadow: 3px 4px black;
    width: 87%;
    max-width: 320px;
    height: 3rem;
}

.inputParent {
    width: 100%;
    display: flex;
    justify-content: center;
}

