.NavMenu {
    margin-top: 5em;
}

.Container {
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    @media (max-width:breakpoint(lg)) {
        align-items: center;
        gap: 0.5rem;
    }
}
