.Form {
    -webkit-user-select: none;
    user-select: none;
    width: 300px;
    padding: 15px;
    border-radius: var(--border-radius-custom);
    display: grid;
    gap: 10px;
    color: var(--white);

    @media (max-width: 440px) {
        width: 300px;
    }

    h1 {
        text-align: center;
        margin-bottom: 5px;
    }

    div {
        display: grid;
    }

    span {
        margin-bottom: 3px;
        padding-left: 3px;
        padding-right: 3px;
        overflow-x: hidden;
    }

    input {
        border-radius: var(--border-radius-custom);
        outline: none;
        border: none;
        width: 100%;
        padding: 10px;
    }

    p {
        color: var(--error);
        margin-top: 5px;
        margin-bottom: 20px;
        height: 15px;
        line-height: 15px;
    }

    .submit {
        @include link-scale-effect;
        background-color: rgba(203, 203, 203, 1);
        color: black;
        text-shadow: none;
        border-radius: var(--border-radius-custom);
    }

    .field input[type='checkbox'] {
        margin-right: 8px;
        width: 16px;
        height: 16px;
        cursor: pointer;
    }

    .dropdown {
        color: rgba(0, 0, 0, 0.85);
    }
    .showPassword {
        color: var(--primary-color);
    }
}
