@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";


//html, body{
//  height: 100%;
//  width: 100%;
//}

body {
  //font: var(--font-m);
  font: 16px/24px;
  //font: 16px/24px 'Bombing';
  line-height: 1.5;
  color: var(--primary-color);
  @include custom-scrollbar;

  padding: 0 calc(20px - (100vw - 100%)) 0 0;

  //background-color: #06081b;
  //background-color: #46304b
  background-color: var(--bg-color);
  //background-image: url("https://images.unsplash.com/photo-1503431128871-cd250803fa41?auto=format&fit=crop&q=80&w=1000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YmxhY2slMjBjYXR8ZW58MHx8MHx8fDA%3D");
}

.app {
  //min-height: 100vh;
  height: auto;
}


// react quill  editor settings
.ql-align-center{
 text-align: center;
}

.ql-align-right{
  text-align: right;
}

.ql-align-justify{
  text-align: justify;
}
