@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";

@-moz-document url-prefix() {
  * {
    // need to be here because of firefox
    @include custom-scrollbar;
  }
}

@media screen and (min-width: 960px) {
  html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
  }
}


body {
  font: 16px/24px;
  line-height: 1.5;
  color: var(--primary-color);
  // need to be here because of other browsers
  @include custom-scrollbar;
  background-color: var(--bg-color);



}


// react quill  editor settings
.ql-align-center{
 text-align: center;
}

.ql-align-right{
  text-align: right;
}

.ql-align-justify{
  text-align: justify;
}
