@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";

@-moz-document url-prefix() {
  * {
    // need to be here because of firefox
    @include custom-scrollbar;
  }
}

@media screen and (min-width: 960px) {
  html {
    width:100vw;
    // todo may be there is a better solution, it is done to avoid navbar jumping
    overflow-x:hidden;
  }
}


body {
  font: 16px/24px;
  line-height: 1.5;
  color: var(--primary-color);
  // need to be here because of other browsers
  @include custom-scrollbar;
  background-color: var(--bg-color);



}


// react quill  editor settings
.ql-align-center{
 text-align: center;
}

.ql-align-right{
  text-align: right;
}

.ql-align-justify{
  text-align: justify;
}
