* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
    //outline: 2px solid red;
}

h1,h2,h3,h4,h5,h6{
  line-height: normal;
}

input,
button,
textarea,
select {
  margin: 0;
  font: inherit;
}

button{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a{
  text-decoration: none;
  color: var(--primary-color);
}
