.Card {
  display: flex;
  flex-direction: column;
  background-color: var(--transparent-bg);
  height: 100%;
  min-width: 360px;
  padding: 50px 50px;
  @media (max-width: 576px) {
    min-width: 100%;
  }
}



.content {
  flex-grow: 1;
}

.title{

}

.date{

}

.body{

}

.readMoreLink{
  text-align: left;
}