.navbarSide {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    background-color: var(--background);
    border: 4px solid var(--drop-shadows);
    box-shadow: 5px 7px var(--drop-shadows);
    border-radius: 10px;
    overflow-y: auto;
    padding: 10px;
    font: var(--font-dm-l);
    line-height: var(--font-line-l) !important;

    ul {
        list-style: none;
    }

    li {
        margin-top: 10px;
        cursor: pointer;
        padding: 10px;

        transition:
            color 0.5s,
            border-left 0.2s;

        &:hover {
            color: orange;
        }

        &.active {
            color: var(--primary-color);
            text-decoration: underline 2px solid var(--primary-color);
        }

        &:active {
            outline: none;
        }

        user-select: none;
    }
}
