.Navbar {
  font: var(--font-xxl);
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  //margin: 25px auto 0;
  margin: 0 auto;
  //padding-left: 15px;
  //padding-right: 15px;
  //max-width: 1000px;
  max-width: 1000px;
}

.navMenu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
  align-items: center;
}


.leftSide{
  display: flex;
  justify-content: space-around;
}

.center{
  display: flex;
  justify-content: center;
}

.rightSide{
  display: flex;
  justify-content: space-around;
}

.item{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}

.itemLink{

  &:hover{
    transform: scale(1.1);
  }

  &:active{
    transform: scale(0.95);
  }

}

.fakeItemLink{
  visibility: hidden;
}

.navLogo {
  height: var(--navbar-logo-height);
}

.overlayed {
  background-color: rgba(4, 255, 4, 0);
  z-index: var(--navbar-z-index);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}


