.item {
    font: var(--font-xxl);
    padding-left: 20px !important;
    padding-right: 20px !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: flex;
    align-items: center;
    &:hover {
        text-decoration: underline;
        color: var(--primary-color);
    }
    &.active {
        color: var(--primary-color) !important;
    }
}

.itemBasic {
    padding-top: 3px;
}
.itemDropDown .link {
    margin-left: 50px;
}
.itemDropDown {
    cursor: pointer;
    transition:
        background-color 0.4s ease-in-out,
        color 0.4s ease-in-out;
    padding-top: 3px;
    padding-right: 40px;
    white-space: nowrap;
    width: 100%;
    border-radius: var(--border-radius-custom);
    &:hover {
        background: var(--inverted-bg-color-transparency);
    }

    & * > * {
        transform: scale(0.95);
    }
    &.active {
        color: var(--primary-color) !important;
    }
  
}
.link {
    padding-top: 0;
    visibility: visible;
    transition:
        visibility 0.4s ease-in-out,
        width 0.4s ease-in-out;
}
.collapsed {
    .link {
        visibility: hidden;
        width: 0;
        transition:
            visibility 0.4s ease-out,
            width 0.4s ease-out;
    }
}
