.Container {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    min-height: 240px;

    margin: auto 0;
    padding: 40px 48px;

    text-align: left;

    border-radius: 12px;
    background-color: #1E3544;

    border: 2px solid black;
    box-shadow: 8px 8px 0 black;

    .Content {
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        text-align: center;
    }

    .multilineText {
        white-space: pre-line;
    }

    .ImageWrapper {
        position: absolute;

        left: 48px;
        top: 50%;

        transform: translateY(-50%);

        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 10em;
            height: 10em;
            object-fit: contain;
        }
    }

    h2 {
        margin: 0 0 16px;

        color: var(--primary-color);
        font: var(--font-sw-xxl);
        line-height: 1.1;

        white-space: pre-line;
        text-align: center;
    }

    h3 {
        font: var(--font-dm-l);
        margin-top: 25px;
    }

    p {
        max-width: 720px;

        margin: 0 0 24px;

        font: var(--font-dm-s);

        color: var(--text-color);

        line-height: 1.5;
        text-align: center;
    }

    a {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        gap: 4px;

        font: var(--font-dm-s);

        color: var(--primary-color) !important;
        text-decoration: none;

        white-space: nowrap;

        &:hover {
            color: var(--secondary-color) !important;
        }
    }

    .linkWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        column-gap: 24px;
        row-gap: 12px;

        padding: 0;
        margin: 0;

        line-height: 1.4;
    }

    /* text link spacing */
    .linkWrapper:not(:has(.icon)) {
        margin: 0 24px;
    }

    /* social icon spacing */
    .linkWrapper:has(.icon) {
        margin: 0 -12px;
    }

    .socialLinks {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 4px;
    }

    .linkWrapper:has(.icon) {
        display: flex;
        align-items: center;

        margin-top: 0;
        margin-bottom: 0;

        a {
            display: inline-flex;
            align-items: center;
            flex-direction: row;

            img:not(.ExternalIcon) {
                width: 28px;
                height: 28px;

                transition: transform 0.15s ease;

                filter:
                    brightness(0)
                    saturate(100%)
                    invert(70%)
                    sepia(77%)
                    saturate(2247%)
                    hue-rotate(360deg)
                    brightness(101%)
                    contrast(105%);
            }

            &:hover img:not(.ExternalIcon) {
                transform: scale(1.1);
            }
        }
    }
}

.ExternalIcon {
    width: 0.8em;
    height: 0.8em;

    display: inline-block;

    margin-left: 0.2em;

    vertical-align: middle;

    object-fit: contain;
}

.Reverse .ImageWrapper {
    left: auto;
    right: 48px;
}

@media (max-width: breakpoint(md)) {
    .Container {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        width: 100%;

        min-height: 520px;

        margin: auto;
        padding: 56px 24px;
        gap: 40px;

        text-align: center;

        box-shadow: 0.2rem 0.2rem #121212;

        .Content {
            width: 100%;

            gap: 40px;
        }

        .Content > .linkWrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            row-gap: 20px;
        }

        .linkWrapper {
            margin: 0;
            padding: 0;

            width: auto;
        }

        .socialLinks {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            gap: 4px;

            img {
                width: 32px !important;
                height: 32px !important;
            }
        }

        .ImageWrapper {
            position: static;

            transform: none;

            width: 100%;
            height: auto;

            display: flex;
            justify-content: center;
            align-items: center;

            margin: 0;
            padding: 0;

            img {
                width: 8em;
                height: 8em;
                object-fit: contain;
            }
        }

        h2 {
            margin: 0 0 36px;
        }

        p {
            max-width: 270px;

            margin: 8px 0 56px;

            font-size: 1.9rem;
            font-weight: 400;
            line-height: 1.65;

            text-align: center;
        }

        a {
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            font-size: 1.9rem;
            font-weight: 400;
            line-height: 1.65;

            gap: 2px;

            text-align: center;

            white-space: nowrap;
        }

        .ExternalIcon {
            display: block;

            width: 0.8em;
            height: 0.8em;

            margin-top: 2px;
            margin-left: 0;
        }

        .linkWrapper:has(.icon) {
            display: flex;
            align-items: center;

            width: auto;

            margin: 0;
        }
    }
}

@media (min-width: breakpoint(md)) and (max-width: 1200px) {
    .Container {
        padding: 32px 32px 32px 140px;

        .ImageWrapper {
            top: 24px;
            left: 24px;
            right: auto;

            transform: none;

            img {
                width: 6em;
                height: 6em;
            }
        }
    }

    .Reverse.Container {
        padding: 32px 140px 32px 32px;

        .ImageWrapper {
            top: 24px;
            right: 24px;
            left: auto;

            transform: none;

            img {
                width: 6em;
                height: 6em;
            }
        }
    }
}