.Container {
    padding: 20px;
    margin: auto 0;

    h2 {
        padding: 0;
        margin: 0;
        font-size: 2.2em;
    }

    h3 {
        font-size: 1.7em;
        margin-top: 25px;
    }

    p {
        font-size: 1.3em;
        margin: 15px auto;
    }

    a {
        text-decoration: underline;
        font-size: 1.3em;
    }

}
