.Container {

    margin: auto 0;
    padding: 0 0 5px 0;
    text-align: center;
    height: 100%;
    place-content: center;
    border-radius: var(--border-radius-custom);
    background-color: #1E3544;
    border: 2px solid black;
    box-shadow: 0.5rem 0.5rem black;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: start;


    .Content{
        flex-grow: 1;

    }
    
    .multilineText {
        white-space: pre-line;
      }

    .ImageWrapper  {
        width: fit-content;
        height: 236px;
        display: flex;
        flex-shrink: 0;
        margin: auto 10px;
        padding: 10px;
        align-items: center;


        img{
            width: 12em;
            height: 12em;
            object-fit: center;
        }
      }

    h2 {
        padding: 15px 0 0 0;
        margin: 0;
        color: var(--primary-color);
        font: var(--font-sw-xxl);
        white-space: pre-line;
    }

    h3 {
        font: var(--font-dm-l);
        margin-top: 25px;
    }

    p {
        font: var(--font-dm-s);
        margin: 15px 0;
        color: var(--text-color);
        line-height: 1.1em;
        text-align: left;
        max-width: 85%;
        align-self:flex-start;
        
    }

    a {
        text-decoration: underline;
        font: var(--font-dm-s);
        color: var(--primary-color)!important;
        text-decoration: none;
        

        &:hover {
            color: var(--secondary-color)!important;
        }
    
    &::after {
        content: '';
        display: block;
        padding: 0 0 10px;
    }
    }
    .linkWrapper {
        padding: 0;
        margin: 0;
        line-height: 0.8em;
    }

    
     .linkWrapper:has(img) {

        display: flex;
        align-items: center;
        margin: 0 10px 0 0;
     a {
            display:inline-flex;
            flex-direction: row;

            img{
                filter: brightness(0) invert(1);
                width: 2.7vh;
            }
          }

        }
}



@media (max-width: breakpoint(md)) {
    .Container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 10px 0 0;
        margin: auto;
        width: 100%;
        box-shadow: 0.2rem 0.2rem #121212;

        .linkWrapper {
            margin: 0;
            padding: 0;
        }
        .ImageWrapper {
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                width: 8em;
                height: 8em;
                object-fit: center;
            }
        }

 
        
        p{
            font: var(--font-dm-xs);
            margin: 10px auto;
            padding: 0 10px;
            text-align: center;
            max-width: 100%;
        }
        .linkWrapper:has(img) {

            display: flex;
            align-items: center;
            width: 100%;
            margin: 0 10px 10px ;

            }

    }
}
@media (min-width: breakpoint(md)) and (max-width: 900px) {
    .Container {
        .ImageWrapper {
            width: fit-content;
            height: auto;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                width: 8em;
                height: 8em;
                object-fit: center;
            }
        }
    }
}






