.SortDropdown {
    display: flex;
    height: 20px;
    justify-content: left;
    color: var(--primary-color);
    border: 2px solid var(--black);
    box-shadow: var(--black) 4px 4px 0;
    border-radius: 1.5em;
    background: var(--base-card-background);
    align-items: center;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.Select {
    color: var(--primary-color);
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
    font: var(--font-dm-m);
    appearance: none;
    cursor: pointer;
}