.GetToKnow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  padding: 0;

  gap: 15px;

  @include backGroundImageDefault;

  @media screen and (max-width: 600px) {
    height: auto;
    min-height: 70vh;
    padding: 20px;
  }
}


.title{
  //todo fix to fontXXXL
  font-size: var(--font-line-xxxl);

  @media screen and (max-width: 600px){
    font-size: var(--font-line-xxl);
  }

  @media screen and (max-width: 450px){
    font-size: var(--font-line-xl);
  }

}

.centeredImage {
  //z-index: 20;
  max-width: 35vw;
  min-width: 450px;
  height: auto;
  object-fit: contain;
  margin-top: 1%;
}

@media screen and (max-width: 480px) {
  .centeredImage {
    width: 80% !important;
    max-width: 45vw;
    min-width: 300px;
  }
}

.button {
  @include link-scale-effect;
  //z-index: 20;
  background-color: var(--transparent-bg-darker)!important;
  padding: 20px!important;
  margin-top: 3%!important;

  @media screen and (max-width: 480px) {
    padding: 15px!important;
    font-size: 14px!important;
    margin-top: 5%!important;
  }
}

