.cover{
  margin: 10px;
  //width: 300px;
  //width: 250px;
  background-color: var(--transparent-bg);
  border-radius: var(--border-radius-custom);
  display: flex;
  flex-direction: column;
}

.coverImage{
  //height: 100%;
  //width: 100%;
  height: 250px;
  width: 320px;
  border-radius: var(--border-radius-custom);
  //height: 292px;
}

.title{
 margin-top: -12%;
 padding: 1%;
}