
.clanInfo {
    padding: 1rem;
    margin-top: 20px;
    background-color: #1a1a1a;
    border-radius: 0.75rem;
    width: 18rem;
    transition: transform 0.2s ease;
    
    &:hover {
        transform: scale(1.02);
        cursor: pointer;
    }

}


.points {
    display: flex;
    p {
        margin-top: 30px;
        font-weight: 600;
    }
}
.crown {
    color: #fbbf24;
    font-size: 3rem;
}

.labels {
    display: grid;
    grid-template-columns: 60px 60px;



  }
  .titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;

}

.title {
    text-align: center;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
   
}
.header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 2rem;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e5e7eb;
    background-color: rgb(239, 233, 233);
    color: black;
    margin-top: 1rem;
    border-radius: 0.70rem;
    height: 60px;
}

.members {
    color: black;
    font-size: 0.975rem;
    font-weight: bold;
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
}


.play{
    margin-left: 10px;
}
.label{
    width: 50px;
}