
.clanInfo {
    padding: 1rem;
    background: white;
    margin-bottom: 1rem;
    background-color: #1a1a1a;
    border-radius: 0.75rem;
    width: 18rem;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.titleSection {
    width: 100%;
}

.titleRow {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
    // margin: 0;
    margin-left: 40px;

}

.tag {
    font-size: 1rem;
    color: #d3d9e4;
    // margin: 0;
    margin-left: 10px;
}

.contentRow {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.logo {
    width: 108px;
    height: 90px;
    object-fit: contain;

}

.labels {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    flex: 1;
}

.label {
    background-color: #f3f4f6;
    padding: 0.25rem 0.75rem;
    border-radius: 9999px;
    font-size: 0.875rem;
    color: #4b5563;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid #e5e7eb;
    background-color: rgb(239, 233, 233);
    color: black;
    border-radius: 0.25rem;

}

.members {
    color: black;
    margin-left: 10px;
    // color: #cad0dc;
    font-size: 0.975rem;
}

.points {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    
    p {
        margin: 0;
        font-weight: 600;
    }
}

.crown {
    color: #fbbf24;
    font-size: 1.75rem;
}
// .footer {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
    // background-color: white;
    // color: black;
//     padding: 0.5rem 0.75rem;
    // border-radius: 0.25rem;
//     width: 100%;

//     .members {
//         font-size: 0.975rem;
//     }

//     .points {
//         display: flex;
//         align-items: center;
//         gap: 0.25rem;
//         font-size: 0.975rem;

//         .crown {
//             color: #fbbf24;
//             font-size: 1.75rem;
//         }
//     }
// }
