.TextSlider {
    padding: 4%;
    background: var(--background);
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    height: auto;
    min-height: 200px;
    max-height: 400px;
    justify-content: center;
    margin: 2%;
    color: var(--white);
    position: relative;
    border-radius: var(--border-radius-lg);
    border: 2px solid var(--black);
    box-shadow: 2px 4px 0 var(--black);
    box-sizing: border-box;
    overflow: hidden;
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;

    &:hover {
        transform: scale(1.02);
        box-shadow: 0 10px 25px var(--black);
    }

    p {
        margin: 0.5rem 3vw;
        font: var(--font-dm-m);
        text-align: justify;
        line-height: 1.6;
        overflow-y: auto;
    }
}

.btnLeft,
.btnRight {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5vw;
    cursor: pointer;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    z-index: 2;
    transition:
        background-color 0.3s,
        box-shadow 0.3s;
    user-select: none;
}

.btnLeft {
    left: 0;
}

.btnRight {
    right: 0;
}

.btnLeft,
.btnRight {
    &:hover {
        background-color: #444;
        box-shadow: 0 0 5px var(--primary-color);
    }
}

.paginationDots {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    user-select: none !important;
}

.dot {
    width: 1vw;
    height: 1vw;
    margin: 0 0.5vw;
    background-color: var(--white);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: var(--primary-color);
}
