.Rights {
  font: var(--font-dm-m);
  justify-content: center;
}


.Rights a:last-of-type {
  margin-right: 1rem;
}

.Rights p {
  margin-left: 1rem;
}

.resetCookies {
  cursor: pointer;
}

.resetCookies:hover {
  text-decoration: underline;
  color: orange;
}
.cookies:hover {
  text-decoration: underline;
  color: orange;
}
.privacy:hover {
  text-decoration: underline;
  color: orange;
}
.ethics {
  white-space: nowrap;
}
.ethics:hover {
  text-decoration: underline;
  color: orange;
}

.RightContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.RightLinkContainer {
  display: flex;
  gap: 3.2rem;
  padding: 0 2rem 0 1rem;
  justify-content: center;
  padding-bottom: 0.5rem;

  @media (max-width: 1023px) {
    gap: 2rem;
  };
}
