.PageWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.backgroundImageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.75;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.componentWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  animation: fadeIn 1s ease-in-out;
}

.outerArrow {
  max-width: 150px;
  user-select: none;
}

.outerArrow.isMobile {
  display: none;
}

.heroImgSideWrapper {
  user-select: none;
  pointer-events: none;
  position: relative;
  max-width: 60.875em;
  width: 40.1666666667em;
  height: 42.6666666667em;
  z-index: 1;

  .heroImgSide {
    position: absolute;
    top: -1.3333333333em;
    left: 10%;
    width: 40.1666666667em;
    height: 43.2916666667em;
    z-index: 2;
  }
}

.heroImgSideWrapper.isMobile {
  display: none;
}

.containerWrapper.isMobile {
  padding-left: 10%;
}

.container {
  position: relative;
  max-width: 600px;
  z-index: 1;
}

.bgImg {
  width: 100%;
  user-select: none;
  pointer-events: none;
}

.contentWrapper {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.content {
  position: relative;
  top: 50%;
  left: 5%;
  transform: translate(-12.5%, 50%);
}

.heroImgWrapper {
  border: solid 4px white;
  background: red;
  width: 100%;
  aspect-ratio: 16 / 8;
  display: flex;
  justify-content: center;
}

.heroImgWrapper.isMobile {
  justify-content: space-between;
}

.innerArrow {
  align-self: center;
  width: 50px;
  display: none;
  user-select: none;
}

.innerArrow.isMobile {
  display: block;
}

.heroImg {
  width: 50%;
  height: auto;
  user-select: none;
  pointer-events: none;
}

.heroImg.isMobile {
  transform: scale(130%);
}

.heroDescription {
  padding: 0 1rem;
  margin-top: 7%;
  overflow-y: auto;
  @include custom-scrollbar;
  max-height: 60px;
}
.heroName {
  top: -20%;
  text-align: center;
  border-bottom: 5px solid white;
  border-top: 5px solid white;
  position: absolute;
}
//mobile = window.innerWidth <= 768
//tablet = window.innerWidth > 768 && window.innerWidth < 1024
//desktop = window.innerWidth >= 1024 && window.innerWidth < 1440
//widescreen = window.innerWidth >= 1440

.heroName.isMobile {
  transform: scale(90%);
  left: 23%;
}
.heroName.isTablet {
  transform: scale(75%);
  left: 15%;
  padding: 0;
}
.heroName.isDesktop {
  transform: scale(85%);
  left: 22%;
}
.heroName.isWidescreen {
  transform: scale(110%);
  left: 25%;
}

.xLinkButton {
  position: absolute;
  top: -15%;
  cursor: pointer;
  font-size: large;
}
.xLinkButton.isMobile {
  transform: scale(80%);
  right: -10%;
}
.xLinkButton.isTablet {
  transform: scale(80%);
  right: -10%;
}
.xLinkButton.isDesktop {
  transform: scale(85%);
  right: -8%;
}
.xLinkButton.isWidescreen {
  transform: scale(110%);
  right: -9%;
}
