.HeroContainer {
  position: fixed;
  top: 20%;
  left: 0;
  width: 100%;
  height: 70%;
  overflow-y: auto;
  z-index: 300;
  opacity: 0.85;
  border: 2px solid blueviolet;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}

.HeroInfoDiv {
  position: relative; /* Ensure this is set to relative for absolute positioning inside */
  border: 2px solid rgb(48, 224, 20);
}

.HeroInfoDiv img {
  border: 2px solid red;
  max-width: 100%;
  max-height: auto;
}

.HeroContainer::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}
