// NewsImageCard
.Card.NewsImageCard  {
    background-color: var(--bg-color);
    height:211px;
    border: 2px solid #121212;
    border-radius: var(--border-radius-custom);
    display: flex;
    margin:15px;
    box-shadow: 4px 6px 2px #121212;
    @media (max-width:breakpoint(lg)) {
        height: 187px;
    }
    @media (max-width:breakpoint(md)) {
        height:139px;
    }
}
.Card.NewsImageCard > div {
    flex-basis: 50%;
    overflow: hidden;
}
.Card.NewsImageCard > .ModularCardTexts {
    font-family:var(--body-font);
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left:.5em;
    padding-right:.5em;
}
.Card.NewsImageCard > .ModularCardTexts > .ModularCardTitle {
    padding-left:0 !important;
    padding-right:0 !important;
    margin-top: .3em;
    margin-bottom: .5em;
    h2 {
        font-family:var(--heading-font);
        font-size:var(--font-size-xl);
        color:var(--secondary-color);
    }
}
.Card.NewsImageCard > .ModularCardTexts > .ModularCardBody {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    line-clamp:5;
    @media (max-width:breakpoint(lg)) {
        -webkit-line-clamp: 4;
        line-clamp: 4;
    }
    @media (max-width:breakpoint(md)) {
        -webkit-line-clamp: 2;
        line-clamp: 2;
    }
    
}
.Card.NewsImageCard > .ModularCardTexts > .ModularCardFootnote {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left:0;
    padding-right:0;
    margin-top: .5em;
    margin-bottom: .3em;
}
.Card.NewsImageCard > .ModularCardImageSection > .ModularCardImage {
    object-fit:contain;
    height:100%;
    width:100%;
    // transform: scale(2.5) translate3d(20px,-5px,0);
    border-radius: var(--border-radius-custom);
}
.Card.NewsImageCard > .ModularCardImageSection > .ModularCardTriangle {
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 207px solid var(--bg-color);
    border-right: 157px solid transparent;
    // transform: translateY(-100%);
    @media (max-width:breakpoint(lg)) {
        border-bottom: 183px solid var(--bg-color);
        border-right: 130px solid transparent;
    }
    @media (max-width:breakpoint(md)) {
        border-bottom: 135px solid var(--bg-color);
        border-right: 80px solid transparent;
    }
}

// TItleImageCard
.Card.TitleImageCard {
    background-color: var(--bg-color);
    height:211px;
    border: 2px solid #121212;
    border-radius: var(--border-radius-custom);
    display: flex;
    margin:15px;
    box-shadow: 2px 4px 2px #121212;
    @media (max-width:breakpoint(lg)) {
        height: 187px;
    }
    @media (max-width:breakpoint(md)) {
        height:139px;
    }
}
.Card.TitleImageCard > div {
    flex-basis: 50%;
}
.Card.TitleImageCard > .ModularCardTexts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left:.5em;
    padding-right:.5em;
}
.Card.TitleImageCard > .ModularCardTexts > .ModularCardTitle {
    padding-left:0 !important;
    padding-right:0 !important;
    margin-top: .3em;
    margin-bottom: .5em;
    h2 {
        font-family:var(--heading-font);
        font-size:var(--font-size-xl);
        color:var(--secondary-color);
        margin-left: 30px;
    }
}
.Card.TitleImageCard > .ModularCardImageSection {
    border-radius: 0 var(--border-radius-custom) var(--border-radius-custom) 0;
}
.Card.TitleImageCard > .ModularCardImageSection > .ModularCardImage {
    height: 100%;
    width:min-content;
    object-fit: contain;
    margin-left:auto;
}
.Card.TitleImageCard > .ModularCardImageSection > .ModularCardTriangle {
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 207px solid var(--bg-color);
    border-right: 157px solid transparent;
    @media (max-width:breakpoint(lg)) {
        border-bottom: 183px solid var(--bg-color);
        border-right: 130px solid transparent;
    }
    @media (max-width:breakpoint(md)) {
        border-bottom: 135px solid var(--bg-color);
        border-right: 80px solid transparent;
    }
}