.Card.NewsImageCard  {
    // width:calc(50% - 30px);
    height:199px;
    border: 2px solid black;
    border-radius: var(--border-radius-custom);
    display: flex;
    margin:15px;
    box-shadow: 6px 9px 2px black;
    @media (max-width:breakpoint(lg)) {
        // width:calc(90% - 30px);
        height: 175px;
    }
    @media (max-width:breakpoint(md)) {
        height:127px;
        // width: calc(100% - 30px);
    }
}
.Card.TitleImageCard {
    // width:calc(50% - 30px);
    height:199px;
    border: 2px solid black;
    border-radius: var(--border-radius-custom);
    display: flex;
    margin:15px;
    box-shadow: 3px 5px 2px black;
    @media (max-width:breakpoint(lg)) {
        // width:calc(90% - 30px);
        height: 175px;
    }
    @media (max-width:breakpoint(md)) {
        height:127px;
        // width: calc(100% - 30px);
    }
}
.Card.NewsImageCard > div {
    flex-basis: 50%;
    overflow: hidden;
}
.Card.NewsImageCard > .ModularCardTexts {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left:.5em;
    padding-right:.5em;
}
.Card.NewsImageCard > .ModularCardTexts > .ModularCardTitle {
    padding-left:0 !important;
    padding-right:0 !important;
    margin-top: .3em;
    margin-bottom: .5em;
    // @media (max-width:breakpoint(md)) {
    //     margin-top: .2em;
    //     margin-bottom: .3em;
    // }
    h2 {
        font-family:var(--font-family-main);
        color:var(--secondary-color);
    }
}
.Card.NewsImageCard > .ModularCardTexts > .ModularCardBody {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    line-clamp:5;
    @media (max-width:breakpoint(lg)) {
        -webkit-line-clamp: 4;
        line-clamp: 4;
    }
    @media (max-width:breakpoint(md)) {
        -webkit-line-clamp: 2;
        line-clamp: 2;
    }
    
}
.Card.NewsImageCard > .ModularCardTexts > .ModularCardFootnote {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left:0;
    padding-right:0;
    margin-top: .5em;
    margin-bottom: .3em;
}
.Card.NewsImageCard > .ModularCardImageSection > .ModularCardImage {
    // position: absolute;
    object-fit:contain;
    height:100%;
    width:100%;
    transform: scale(2.5) translate3d(20px,-5px,0);
    border-radius: var(--border-radius-custom);
}
.Card.NewsImageCard > .ModularCardImageSection > .ModularCardTriangle {
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 199px solid var(--bg-color);
    border-right: 157px solid transparent;
    transform: translateY(-100%);
    @media (max-width:breakpoint(lg)) {
        border-bottom: 175px solid var(--bg-color);
        border-right: 130px solid transparent;
    }
    @media (max-width:breakpoint(md)) {
        border-bottom: 127px solid var(--bg-color);
        border-right: 80px solid transparent;
    }
}


.Card.TitleImageCard > div {
    flex-basis: 50%;
}
.Card.TitleImageCard > .ModularCardTexts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left:.5em;
    padding-right:.5em;
    // padding:;
}
.Card.TitleImageCard > .ModularCardTexts > .ModularCardTitle {
    padding-left:0 !important;
    padding-right:0 !important;
    margin-top: .3em;
    margin-bottom: .5em;
    // @media (max-width:breakpoint(md)) {
    //     margin-top: .2em;
    //     margin-bottom: .3em;
    // }
    h2 {
        font-family:var(--font-family-main);
        color:var(--secondary-color);
        font-size:var(--font-size-xl);
        margin-left: 30px;
    }
}
.Card.TitleImageCard > .ModularCardImageSection {
    display: flex;
    justify-content:end;
    background-color: red;
    border-radius: 0 var(--border-radius-custom) var(--border-radius-custom);
}
.Card.TitleImageCard > .ModularCardImageSection > .ModularCardImage {
    height: 100%;
    width:min-content;
    object-fit: contain;
    
}
.Card.TitleImageCard > .ModularCardImageSection > .ModularCardTriangle {
    position: absolute;
    left:50%;
    width: 0;
    height: 0;
    border-bottom: 195px solid var(--bg-color);
    border-right: 157px solid transparent;
    // transform: translate3d(-100%, -200%, 0);
    @media (max-width:breakpoint(lg)) {
        border-bottom: 171px solid var(--bg-color);
        border-right: 130px solid transparent;
    }
    @media (max-width:breakpoint(md)) {
        border-bottom: 123px solid var(--bg-color);
        border-right: 80px solid transparent;
    }
}