.Card {
    --border-radius-lg: 12px;
    --border-radius-md: 8px;
    --border-radius-sm: 4px;
    --heading-font: 'Sedgwick Ave Display', cursive;
    --body-font: 'DM Sans', sans-serif;
    --heading-font-size: 24px;
    --h1-size-mobile: 32px;
    --h2-size-mobile: 24px;
    --h2-size-desktop: 64px;
    --h3-size-desktop: 48px;
    --body-size-desktop: 16px;
    --small-size-desktop: 14px;
    --border-desktop: 4px;
    --border-mobile: 2px;
    --primary-color: #FFA100;
    --primary-border: #FFA100;
    --background: #1E3544;
    --white: #FAF9F6;
    --black: #121212;
}


.withScalableLink {

    .ModularCardTexts {
        transition: all ease-in-out;
        transition-duration: 0.3s;
    }
    &:hover {
        .ModularCardTexts {
            flex-basis: 40% !important;
        }
    }
    
}

// NewsImageCard
.Card.NewsImageCard  {
    position:relative;
    background-color: var(--background);
    height:203px;
    border: var(--border-desktop) solid var(--black);
    border-radius: var(--border-radius-md);
    display: flex;
    box-shadow: 4px 8px 0 var(--black);
    @media (max-width:breakpoint(xxl)) {
        height: 155px;
    }
    @media (max-width:breakpoint(md)) {
        height:127px;
        border: var(--border-mobile) solid var(--black);
        box-shadow: 2px 4px 0 var(--black);
    }
}
.Card.NewsImageCard > .ModularCardTexts {
    font: var(--font-dm-m);
    color: var(--white);
    flex-basis: 50%;
    // overflow: hidden;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left:.5em;
    padding-right:.5em;
}
.Card.NewsImageCard > .ModularCardTexts > .ModularCardTitle {
    padding-left:0 !important;
    padding-right:0 !important;
    margin-bottom: .5em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
    h2 {
        font: var(--font-sw-l);
        color:var(--primary-color);
    }
    @media (max-width:breakpoint(md)) {
        h2 {
            
            font: var(--font-sw-l);
            margin-top:.7em;
        }
        -webkit-line-clamp: 2;
        line-clamp: 2;
    }
}
.Card.NewsImageCard > .ModularCardTexts > .ModularCardBody {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    line-clamp:5;
    @media (max-width:breakpoint(xxl)) {
        -webkit-line-clamp: 3;
        line-clamp: 3;
    }
    @media (max-width:breakpoint(md)) {
        display: none;
    }
    
}
.Card.NewsImageCard > .ModularCardTexts > .ModularCardFootnote {
    font: var(--font-dm-s);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left:0;
    padding-right:0;
    margin-top: .5em;
    margin-bottom: .3em;
}
.Card.NewsImageCard > .ModularCardImageSection {
    overflow: hidden;
    flex-grow:1;
}
.Card.NewsImageCard > .ModularCardImageSection > .ModularCardImage {
    object-fit:contain;
    height:100%;
    width:100%;
}
.Card.NewsImageCard > .ModularCardImageSection > .ModularCardTriangle {
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 195px solid var(--background);
    border-right: 157px solid transparent;
    @media (max-width:breakpoint(xxl)) {
        border-bottom: 147px solid var(--background);
        border-right: 130px solid transparent;
    }
    @media (max-width:breakpoint(md)) {
        border-bottom: 123px solid var(--background);
        border-right: 80px solid transparent;
    }
}


// TItleImageCard
.Card.TitleImageCard {
    position: relative;
    background-color: var(--background);
    height: 220px;
    border: var(--border-desktop) solid var(--black);
    border-radius: var(--border-radius-md);
    display: flex;
    box-shadow: 4px 8px 0 var(--black);
    @media (max-width:breakpoint(md)) {
        height:160px;
        box-shadow: 2px 4px 0 var(--black);
    }
}
.Card.TitleImageCard > div {
    flex-basis: 50%;
}
.Card.TitleImageCard > .ModularCardTexts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left:.5em;
    padding-right:.5em;
}
.Card.TitleImageCard > .ModularCardTexts > .ModularCardTitle {
    padding-left:0 !important;
    padding-right:0 !important;
    margin-top: .3em;
    margin-bottom: .5em;
    h2 {
        font: var(--font-sw-xl);
        color:var(--primary-color);
        margin-left: 30px;
    }
    @media (max-width:breakpoint(md)) {
        h2 {
            font: var(--font-sw-l);
        }
    }
}

.Card.TitleImageCard > .ModularCardImageSection > .ModularCardImage {
    height: 100%;
    width:min-content;
    object-fit: contain;
    margin-left:auto;
}
.Card.TitleImageCard > .ModularCardImageSection > .ModularCardTriangle {
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 212px solid var(--background);
    border-right: 140px solid transparent;
    @media (max-width:breakpoint(md)) {
        border-bottom: 152px solid var(--background);
        border-right: 85px solid transparent;
    }
}

// DefenseCard
.Card.DefenseCard {
    position: relative;
    display: flex;
    height: 192px;
    background-color: var(--background);
    border: var(--border-desktop) solid var(--black);
    border-radius: var(--border-radius-md);
    box-shadow: 4px 8px 0 var(--black);
    overflow: hidden;
    transition: border-color 0.3s ease-out;
    &:hover {
        border-color: var(--primary-border);
    }
    @media (max-width: breakpoint(xl)) {
        height: 184px;
    }
    @media (max-width:breakpoint(md)) {
        height: 152px;
        box-shadow: 2px 4px 0 var(--black);
    }
    @media (max-width: 640px) {
        height: 144px;
    }
    @media (max-width:breakpoint(sm)) {
        height: 120px;
        box-shadow: 1px 2px 0 var(--black);
    }

}


.Card.DefenseCard > .ModularCardTexts {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
    padding-left: var(--spacing-300);
    justify-content: center;
    //margin-top: calc(var(--spacing-600) + 8px);
    font: var(--font-sw-m);

    h2 {
        line-height: var(--font-line-l) !important;
        font: var(--font-sw-m);
        color:var(--white);
    }
    @media (max-width: breakpoint(xl)) {
        //margin-top: var(--spacing-600);
        h2 {
            font: var(--font-sw-m);
        }
    }
    @media (max-width: breakpoint(md)) {        
        padding-left: var(--spacing-200);
        h2 {
            line-height: var(--font-line-m) !important;
            font: var(--font-sw-m);
        }
    }
    @media (max-width: 640px) {
        h2 {
            line-height: var(--font-line-xs) !important;
            font: var(--font-sw-s);
        }
    }
    @media (max-width: breakpoint(sm)) {
        //margin-top: calc(var(--spacing-500) + 4px);
        h2 {
            line-height: 16px !important;
            font: var(--font-sw-xs);
        }
    }
}

.Card.DefenseCard > .ModularCardTexts > .ModularCardTitle {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
}

.Card.DefenseCard > .ModularCardTexts > .ModularCardBody {
    line-height: var(--font-line-xl) !important;
    color:var(--primary-color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
    font: var(--font-sw-xl);
    @media (max-width: breakpoint(xl)) {
        line-height: var(--font-line-l) !important;
        font: var(--font-sw-l);
    }
    @media (max-width: breakpoint(md)) {
        font: var(--font-sw-l);
    }
    @media (max-width: 640px) {
        line-height: var(--font-line-m) !important;
        font: var(--font-sw-m);
    }
    @media (max-width: breakpoint(sm)) {
        line-height: var(--font-line-s) !important;
        font: var(--font-sw-s);
    }
}

.Card.DefenseCard > .ModularCardImageSection {
    flex-basis: 55%;
    overflow: visible;
    position: relative;
}

.Card.DefenseCard > .ModularCardImageSection::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 150%;
    height: 100%;
    transform: skewX(20deg);    
    background-color: var(--before-color, red);
}

.Card.DefenseCard > .ModularCardImageSection > .ModularCardImage {
    position: relative;
    left: 24px;
    max-width: 100%;
    height: calc(100% + 36px);
    object-fit: contain;
    @media (max-width: breakpoint(xl)) {
        left: 20px;
    }
    @media (max-width: breakpoint(md)) {
        height: calc(100% + 24px);
    }
    @media (max-width: 640px) {
        left: 16px;
    }
    @media (max-width: breakpoint(sm)) {
        left: 12px;
        top: -8px;
    }
}

// SectionCard
.Card.SectionCard {
    position: relative;
    display: flex;
    background-color: var(--background);
    border: var(--border-desktop) solid var(--black);
    border-radius: var(--border-radius-md);
    box-shadow: 4px 8px 0 var(--black);
    overflow: hidden;
    margin-left: 50px;
    margin-bottom: 50px;
    margin-right: 20px;

    @media (max-width: breakpoint(md)) {
        flex-direction: column;
        margin: 0;
        margin-bottom: 30px;
    }
    
}

.Card.SectionCard > .ModularCardTexts {
    flex-basis: 95%;
    display: flex;
    flex-direction: column;
    z-index: 2;
    gap: 10px;
    padding: 20px;
    justify-content: flex-start;
}

.Card.SectionCard > .ModularCardTexts > .ModularCardTitle {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    h2 {
        font: var(--font-sw-xxl);
        color: var(--primary-color);
    }
    @media (max-width: breakpoint(md)) {
        h2 {
            font: var(--font-sw-xl);
        }
    }
}
.Card.SectionCard > .ModularCardTexts > .ModularCardBody {
    font: var(--font-dm-m);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    @media (max-width: breakpoint(md)) {
        font: var(--font-dm-m);
    }
}

.Card.SectionCard > .ModularCardImageSection {
    height: auto;
    position: relative;
    overflow: visible;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;

    @media (max-width: breakpoint(md)) {
        height: auto;
        width: 100%;
        clip-path: polygon(0 45%, 100% 25%, 100% 100%, 0 100%);
        margin-top: -100px;
    }

}

.Card.SectionCard > .ModularCardImageSection > .ModularCardImage {
    position: relative;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;

    @media (max-width: breakpoint(md)) {
        height: auto;
        width: 100%;
        margin-top: 80px;
    }
}

.Card.SectionCard > .ModularCardImageSection > .ModularCardTriangle {
    position: absolute;
    left: -0.5px;
    width: 0;
    height: 0;
    z-index: 1;
    border-bottom: 700px solid var(--background);
    border-right: 300px solid transparent;

    @media (max-width:breakpoint(md)) {
        z-index: 0;
        top: -1px;
    }
}