.MosaicGrid {
    --border-width: 2px;
    --border-radius: 4px;
}
.MosaicGrid {
    display: grid;
    grid-template-rows: auto;
    align-items: center;
    align-content: center;
    padding: 0px;
    gap: 2px;
    border: var(--border-width) solid var(--content-primary);
    border-radius: var(--border-radius);
    background-color: var(--content-primary);  
    overflow: hidden;    

    &.Mobile {
        grid-template-columns:  repeat(3, minmax(1rem, 1fr));
    }

    &.Desktop {
        grid-template-columns:  repeat(7, minmax(1rem, 1fr));
    }

}

.MosaicGridImage {
    object-fit: cover;
    background: var(--base-card-background);
}