.Leaderboards {
    display: flex;
    gap: 40px;
    margin-top: 20px;
}
.LeaderboardSwitch {
    margin-top: 10px;
    margin-bottom: 10px;
}
.LeaderboardContainer {
    width: 100%;
}
.LeaderboardTitle {
    margin-bottom: 10px;
}
