.Container {
    width: 100%;
    max-width: 1440px;

    margin: 0 auto;
    padding: 0 48px 64px;

    border-radius: var(--border-radius-custom);

    h1 {
        margin: 64px 0 40px;

        color: var(--primary-color);

        font: var(--font-sw-5xl);
        line-height: 1.1;
        text-align: left;
    }
}

@media screen and (max-width: breakpoint(md)) {
    .Container {
        padding: 0 16px 48px;

        h1 {
            margin: 32px 0 24px;

            font: var(--font-sw-xxl);
            text-align: left;
        }
    }
}

@media screen and ((min-width: breakpoint(sm)) and (max-width: breakpoint(md))) {
    .Container {
        padding: 0 24px 56px;

        h1 {
            margin: 48px 0 32px;

            font: var(--font-sw-4xl);
        }
    }
}

@media screen and (min-width: breakpoint(md)) {
    .Container {
        padding: 0 48px 64px;

        h1 {
            margin-top: 64px;
        }
    }
}