.Container {

    border-radius: var(--border-radius-custom);
    padding: 0 20px 20px 0;

    h1 {
        font: var(--font-sw-5xl);
        line-height: 1.5rem;
        text-align: left;
        color: var(--primary-color);
    }

    @keyframes lineExpand {
        0% {
            width: 0;
        }

        100% {
            width: 500px;
            max-width: 70vw;
        }
    }
}

@media screen and (max-width: breakpoint(md)) {
    .Container {
        padding: 10px;
        margin: 0 auto;

        h1 {
            font: var(--font-sw-xxl);
            margin: 0 0 20px;
            margin-top: 7vh;
            padding: 20px 0 0 0;
            text-align: center;
        }
    }

}

@media screen and ((min-width: breakpoint(sm)) and (max-width: breakpoint(md))) {
    .Container {
        padding: 10px 20px;
        margin: 0 auto;

        h1 {
            font: var(--font-sw-5xl);
            margin: 40px auto;
            margin-top: 10vh;
        }
    }
}

@media screen and (min-width: breakpoint(md)) {
    .Container {
        padding: 10px 20px;
        margin: 0 auto;

        h1 {
            font: var(--font-sw-5xl);
            margin: 40px auto;
            margin-top: 10vh;
        }
    }
}