.Wrapper {
  min-height: 100vh;
}


.heroSection{
  min-height: 100vh;
  width: 100%;
}

.BtnGame{
  background-color: var(--transparent-bg);
  padding: 20px;
}

.description{

  background-color:  var(--transparent-bg);
  border-radius: 20px;

}

