.ToggleFixButton {
    display: flex;
    align-items: center;
    border-radius: var(--border-radius-custom);
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.buttonImage {
    display: block;
    width: 100%;
}