.Card {
  border-radius: var(--border-radius-custom);
  //border: 1px solid var(--red-dark) ;
  color: var(--primary-color);
  hyphens: auto;
}

.ReadMoreLink.withScalableLink{
  @include link-scale-effect;
}

