.DropdownWrapper {
    user-select: none;
}

.DropdownWrapper.contentAbsolute {
    position: relative;

    .dropdownContent {
        position: absolute;
        width: max-content;
    }
}

.dropdownContent {
    padding-top: 10px;
    line-height: 40px !important;
    font: var(--font-dm-bold-l);
    transform-origin: top;
    padding-bottom: 1rem;
    opacity: 0;
    transform: translateY(-10px);
    transition:
        opacity 0.3s ease,
        transform 0.3s ease;
    will-change: opacity, transform;

    &.open {
        opacity: 1;
        transform: translateY(0);
    }

    &.opening {
        animation: dropdownOpen 0.3s forwards;
    }

    &.closing {
        animation: dropdownClose 0.3s forwards;
    }

    @keyframes dropdownOpen {
        from {
            opacity: 0;
            transform: translateY(-10px) scaleY(0);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes dropdownClose {
        from {
            opacity: 1;
            transform: translateY(0);
        }

        to {
            opacity: 0;
            transform: translateY(-10px) scaleY(0);
        }
    }
}

.staticHeading {
    font: var(--font-dm-bold-xl);
    margin-top: 8px;
    margin-bottom: 12px;
}

.dynamicHeading {
    font: var(--font-dm-bold-m);
    color: var(--primary-color);
    cursor: pointer;
}

.childrenWrapper {
    display: flex;
    gap: 7px;
    align-items: center;
    color: var(--white);
    cursor: pointer;

    &:hover {
        color: var(--primary-color-variant-hover);
    }
}

// A wrapper that encompasses the entire clickable header area (title + children)
.headerArea {
    display: block;
    width: 100%;
    cursor: pointer;
}

.disabled {
    color: #c0c0c0;
    opacity: 0.5;
    cursor: not-allowed !important;
    transform: none !important;
    transition: none !important;
}

.active {
    color: var(--primary-color) !important;
    text-decoration: underline;
}