/* Page Title */
.PageTitleContainer {
    display: flex;
    align-items: flex-end;
    margin-bottom: 1.0rem;
    padding-right: 1.5rem;

    @media (min-width: calc(breakpoint(lg) + 32px)) {
        margin-bottom: 0;
    }
}

.PageTitleLeft {
    width: 25%;
    margin: 0.5rem;
}

.PageTitle {
    flex: 1 1;
    padding-left: 1.5rem;
    max-width: 75%;

    h1 {
        color: var(--primary-color);
        font-family: var(--font-family-title);
        font-size: var(--h2-size-desktop);
        font-weight: 100;
    }
}

.PageTitleAlt {
    flex: 1 1;
    max-width: max-content;

    h1 {
        color: var(--primary-color);
        font-family: var(--font-family-title);
        font-size: var(--h2-size-desktop);
        font-weight: 100;
    }

    @media (max-width: breakpoint(sm)) {
        h1 {
            font-size: var(--h3-size-desktop);
        }
    }
}

.SearchContainer {
    width: 180px;

    // properties to enhance the placeholder
    background-color: var(--background);
    color: var(--primary-color);
    border-radius: var(--border-radius-lg);
    padding: 0.1em;
}

@media (max-width: breakpoint(lg)) {

    /* Pagetitle */
    .PageTitleContainer {
        display: block;
        padding-right: unset;
    }

    .PageTitleLeft {
        visibility: hidden;
        display: none;
    }

    .PageTitle {
        padding-left: unset;
        max-width: unset;
        text-align: center;
        font-size: var(--h1-size-mobile);
    }

    .PageTitleAlt {
        padding-left: unset;
        max-width: unset;
        text-align: center;
        font-size: var(--h1-size-mobile);
    }

    .SearchContainer {
        visibility: hidden;
        display: none;
    }
}