.Arrow {
    display: inline-block;
    position: absolute;
    top: 45%;
    color: var(--secondary-color);
    font-weight :bolder;
    font-size:1.5em;
    right: .3em;
    cursor: pointer;
}

.Box {
    width: 100%;
    position: relative;
    background: black;
    border-radius: 10px;
    transition: width 0.3s ease-in-out, opacity 0.3s ease-out;

    &.Hidden {
        width: 0;
    }
}

.Category {
    padding-left: 0.5em;
    width: fit-content;
    cursor: pointer;
}

.Text {
    padding: 1em;
    font-size: 26px;
    overflow: hidden;
    transition: opacity 0.3s ease-in-out;

    h2 {
        margin-bottom: 10px;
        text-align: center;
    }

    &.Hidden {
        opacity: 0;
    }
}
