.outerArrow {
  user-select: none;
}
.outerLeftArrow {
  transform: translateX(4rem);
}
.outerRightArrow {
  padding-right: 4rem;
  padding-left: 1rem;
}

.outerArrow.isMobile {
  display: none;
}


.innerArrow {
  align-self: center;
  width: 40px;
  display: none;
  user-select: none;
}

.innerArrow.isMobile {
  display: block;
}