.SideButton{
  width: 100px;
  position: fixed;
  bottom: 50%;
  right: -30px;
  background-color: var(--inverted-bg-color);
  z-index: var(--sideButton-z-index);
  font-family: var(--font-family-texts);
  transform: rotate(270deg);
  transition: transform 0.2s ease;

  //@include link-scale-effect;
  &:hover{
    transform: scale(var(--animation-link-hover-scale)) rotate(270deg);
  }

  &:active{
    transform: scale(var(--animation-link-active-scale)) rotate(270deg);
  }

}

