.languageSwitcher {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    ;
}

.languageToggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    img {
        width: 28px;
    }

}

.languageLabel {
    margin-left: 13px;
}

.selectableItem {
    list-style-type: none;
    color: var(--white);
    position: relative;
    transform: translateX(0) scaleX(1);
    transform-origin: right;
    line-height: initial;
    cursor: pointer;
    opacity: 1;
    transform: translateX(0) scaleX(1);
    transform-origin: right;
    transition:
        transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        margin-top 0.4s cubic-bezier(0.4, 0, 0.2, 1),
        color 0.2s ease-out;

    &:hover .itemNavbarDropDownContent {
        display: flex;
        flex-direction: column;
        // padding-top: 10px;
        inline-size: 140px;
        opacity: 1;
        z-index: 3;
    }

    &:hover {
        color: var(--primary-color);
    }

    &.collapsed {
        transform: translateX(-100px) scaleX(0.7);
        opacity: 0;
        visibility: hidden;

    }

    &.active {
        color: var(--primary-color) !important;

        &>a {
            color: var(--primary-color) !important;
        }
    }
}

.dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding-top: 40px;
    align-items: flex-start;
}

@media (max-width: breakpoint(xl)) {
    .languageSwitcher {
        align-items: start;
    }

    .dropdown {
        position: relative;
        padding-top: 0;
    }

    .languageLabel {
        margin-left: 0;
        margin-top: 5px;
    }

}