.LeaderboardCard {
    display: flex;
    background-color: var(--background);
    border: var(--border-desktop) solid var(--black);
    border-radius: var(--border-radius-lg);
    align-items: center;
    height: 40px;
    @media (max-width: breakpoint('md')) {
        border: var(--border-mobile) solid var(--black);
    }
}
.ScaleOnHover {
    transition: transform 0.3s ease;
    &:hover {
        transform: scale(1.05);
    }
}
.Position {
    margin-left: 1em;
    margin-right: 1em;
    color: var(--primary-color);
    font-weight: bold;
    flex-basis: 1rem;
}
.LastMatch {
    margin-left: 1em;
    margin-right: 1em;
}
.ChevronDown {
    fill: var(--error);
}
.ChevronUp {
    fill: var(--success);
}
.ClanLogo {
    margin-left: 2em;
    margin-right: 0.7em;
}
.ClanLogo > img {
    height: 30px;
    width: auto;
}
// .Name {}
.Points {
    margin-left: auto;
    margin-right: 1em;
}
