.item {
  font: var(--font-xxl);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;

  &:hover {
    background: rgba(0, 0, 0, 0.60);
    color: var(--secondary-color);
  }
}

.link {
  visibility: visible;
  margin-left: 20px;
  transition: visibility 0.4s ease-in-out, width 0.4s ease-in-out;
}

.collapsed {
  .link {
    visibility: hidden;
    width: 0;
    transition: visibility 0.4s ease-out, width 0.4s ease-out;
  }
}
