.Container {
    display: flex;
    gap: 16px;
    height: 100%;
    background-color: #000;
    border-radius: 16px;
    padding: 16px;
    padding-top: 40px;
    text-align: left;
    color: white;

    .leftCorner {
        flex: 1;
        margin: auto 0;
    }

    .rightCorner {
        padding-top: 16px;
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    @media (max-width: breakpoint(sm)) {
        flex-direction: column;
    }
}

.Coin {
    width: 1em;
    height: 1em;
}

.Details {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.DetailItem {
    display: flex;
    justify-content: space-between;
    gap: 2px;
    align-items: center;
}

.Label {
    font-weight: bold;
}

.Value {
    display: flex;
    align-items: center;
    gap: 4px;
}
