.Navbar {
  font: var(--font-xxl);
}

.NestedContainer{
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}

.navMenu {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
  align-items: center;
}


.leftSide, .rightSide{
  z-index: 5;
  display: flex;
  justify-content: space-around;
}


//.leftSide{
// margin-left: 10px;
//}
//
//.rightSide{
//  margin-right: 10px;
//}

.center{
  display: flex;
  justify-content: center;
}


.rightSideAuth{
  position: absolute;
  //width: 100%;
  top: 40px;
  right: 0;


  display: flex;
  gap: 15px;
  align-items: center;

  & > * {
    color: var(--secondary-color) !important;
  }

  & > div, span{
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: var(--border-radius-custom);
    outline: 2px solid var(--inverted-primary-color);
    padding: 5px;
    font-family: var(--font-family-texts) !important;
    font: var(--font-m);
    @include link-scale-effect;
    cursor: pointer;


    display: flex;
    align-self: flex-end;


    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;

    color: var(--secondary-color) !important;

    width: fit-content;

  }

}

.item{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}

.itemLink{
  @include link-scale-effect;
}

//.itemLink.disabled {
//  color: #c0c0c0;
//  text-decoration: none;
//  pointer-events: none;
//  opacity: 0.5;
//}




.itemNavbarDropDownContentClassName{

  border-radius: var(--border-radius-custom);
  background-color: var(--transparent-bg);
  padding: 15px;

  div{
    @include link-scale-effect;
  }

}



.fakeItemLink{
  visibility: hidden;
}

.navLogo {
  height: var(--navbar-logo-height);
  @include link-scale-effect;
}

.overlayed {
  background-color: rgba(4, 255, 4, 0);
  z-index: var(--navbar-z-index);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}


