.siteNav {
  position: absolute;
  font: var(--font-xxl);
  padding-top: 50px;
  color: #fbf7dc;
  width: 100%;
  text-align: center;
  z-index: var(--navbar-z-index);
  font-weight: 500;
  top: 0;
  font-size: max(calc(20 * calc(min(750px, 100vw) / 750)), 12px);
  margin-top: 5px;
  //position: relative;
  height: var(--navbar-height);
  user-select: none;
  &.collapsing{
    overflow: hidden;
  }
  &.collapsed{
    overflow: hidden;
  }
}

.siteNav.fixed {
  position: fixed;
  //position: sticky;
}

.siteNavContentList {
  height: 52px;
  padding: 0 10px 0 50px;
  background-color: black;
  border-radius: var(--border-radius-custom);
  border: var(--inverted-secondary-color) 2px solid;
  gap: 1em;
  list-style: none;
  z-index: 2;
  position: relative;
  width: 100%;
  transition: width 0.4s ease-out, padding-right 0.4s ease-out, opacity 0.4s ease-out;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.siteNavContentList.collapsed {
  width: 50px;
  opacity: 0.8;
}

.navItem {
  opacity: 1;
  transform: translateX(0) scaleX(1);
  transform-origin: right;
  transition: transform 0.3s ease-out 0.2s, opacity 0.3s ease-out 0.5s;
  visibility: visible;

  display: flex;
  height: max-content;
  line-height: initial;
  padding: 10px 0;

  &.collapsed{
    transform: translateX(-100px) scaleX(0.7);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
    overflow-x: hidden;
  }

  &.active {
    color: var(--secondary-color)!important;
    &>a{
      color: var(--secondary-color)!important;
      font-weight: bold;
    }
  }


  //  &.active {
  //    color: var(--secondary-color)!important;
  //    &>a{
  //      color: var(--secondary-color)!important;
  //      font-weight: bold;
  //    }
  //  }
  //}

}

.dropdownElement{
  background-color: #1ea7fd;
  transform: scale(2);
}


//.navItem__dropdownElement{
//
//  * *{
//    color: var(--secondary-color)!important;
//  }
//
//
//}


.appLinkLogo {
  display: block;
  position: relative;
  width: 120px;

  .itemLogoImg {
    position: absolute;
    top: -2.5416666667000003em;
    left: 0;
    z-index: 100;
    height: auto;
    max-width: none;
    width: auto;
  }

  .itemClanLogoImg {
    position: absolute;
    top: -4.5em;
    left: 0;
    z-index: 100;
    height: auto;
    width: 150%;
    max-width: 150%;
  }
}

.itemNavbarDropDownContent {
  outline: 2px solid var(--inverted-primary-color);
  text-align: left;
  border-radius: var(--border-radius-custom);
  background-color: var(--transparent-bg-dark);
  padding: 10px;

  //div {
  //  @include link-scale-effect;
  //}
}



.langSwitcher {
  border-radius: var(--border-radius-custom);
  border: 2px solid var(--inverted-primary-color);
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--secondary-color) !important;
  font-size: var(--font-size-m) !important;
  //text-align: center;
  padding: 2px;
 }

.authButton {
  border-radius: var(--border-radius-custom);
  outline: 2px solid var(--inverted-primary-color);
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--secondary-color) !important;
  font-size: var(--font-size-m) !important;
  text-align: center;

  padding: 4px;

  &>* {
    color: var(--secondary-color) !important;
  }
}

.logoutButton {
  cursor: pointer;
}


.FixButtonWrapper {
  margin-left: auto;
  margin-right: 50px;
  &.fixed{
    margin-right: unset;
  }
}

.CollapseButtonWrapper {
  position: absolute;
  right: 12px;
  top: 8px;
  cursor: pointer;
  opacity: 1!important;
  .CollapseButton{
    cursor: pointer;
  }
  &.collapsing{
    .CollapseButton{
      pointer-events: none;
      opacity: 0.5;
    }
  }
}
