.Title{
  text-align: center;
  color: var(--primary-color)
}

.TitleContainer {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;

  @media (max-width: 1023px) {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    flex-direction: column;
  };
}