.Navbar {
  font: var(--font-xxl);
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  //max-width: 1000px;

  width: 100%;
}

.NavbarMobile{
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr;
}


.NavbarMobile__burger {
  align-self: start;
  cursor: pointer;
  user-select: none;

  & .left{
    grid-column: 1;
  }

  & .right{
    grid-column: 3;
    justify-self: end;
  }

}

.NavbarMobile__center{
  justify-self: center;
  grid-column: 2;
}

.navLogo {
  img{
    height: var(--navbar-logo-height);
  }
}

.overlayed {
  background-color: rgba(4, 255, 4, 0);
  z-index: var(--navbar-z-index);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.authSection{
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: var(--border-radius-custom);
  box-shadow: 0 0 0 2px var(--inverted-primary-color);
  padding: 5px;
  //width: 100px;
  text-align: center;
  font-family: var(--font-family-texts) !important;
  font: var(--font-l);
  @include link-scale-effect;
  cursor: pointer;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;

  color: var(--secondary-color) !important;


  &{
    .authSectionLink{
      color: var(--secondary-color) !important;
    }
  }

}



