.description{
  //background-color:  var(--transparent-bg);
  //width: 95%;
  //margin: 0 auto;
  margin-top: 133px;
  margin-bottom: 133px;
  @media (min-width: 800px) {
    min-height: 100vh !important;
    margin-top: unset;
    margin-bottom: unset;
  }

  @media (min-width: 1200px) {
    min-height: 85vh !important;
    margin-top: unset;
    margin-bottom: unset;
  }


}

.heroSection{
  //height: 800px;
  //min-height: 50vh;
  display: flex;
  gap: 20px;
  padding: 0 10px;
  justify-content: center;
  flex-wrap: wrap;
  //pa


  margin-top: 20vh;
  margin-bottom: 20vh;

  //width: 100%;




}

.BtnGame{
  background-color: var(--inverted-bg-color);
  padding: 20px;
  border: solid   1px var(--primary-color);
}







.NewsPreviewSection{
  //margin-top: 20vh;
}

.navbarWrapper{
  //padding-bottom: 240px;
}

.wholePageBG{
  filter: brightness(85%);
}

