.aboutButton {
    position: absolute;
    top: 6%;
    left: 12%;
    z-index: 2;
}

.prgButton {
    position: absolute;
    top: 8%;
    left: 12%;
    z-index: 2;
}

.teachersButton {
    position: absolute;
    top: 10%;
    left: 12%;
    z-index: 2;
}

.playButton {
    position: absolute;
    top: 18.5%;
    left: 35%;
    z-index: 2;
}

.description {
    margin-top: 133px;
    margin-bottom: 133px;
    @media (min-width: 800px) {
        min-height: 100vh;
        margin-top: unset;
        margin-bottom: unset;
    }

    @media (min-width: 1100px) {
        min-height: unset;
        height: clamp(400px, 81vh, 850px);
        margin-top: unset;
        margin-bottom: unset;
    }
}

.descriptionCardMobile {
    max-width: 740px;
    margin: 0 auto;
    padding: 10px;
}

.descriptionCard {
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.heroSection {
    //height: 800px;
    //min-height: 50vh;
    display: flex;
    gap: 20px;
    padding: 0 10px;
    justify-content: center;
    flex-wrap: wrap;
    //pa

    margin-top: 20vh;
    margin-bottom: 20vh;

    //width: 100%;
}

.newsGrid {
    display: grid;
    gap: 30px;
    max-width: 1000px;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    justify-content: center;
}

.newsHeader {
    font: var(--font-sw-xxl);
    color: var(--primary-color);
    text-align: center;
    margin: 50px;

    @media (max-width: breakpoint(sm)) {
        font: var(--font-sw-xl);
    }
}

.linkWrapper {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.link {
    color: black;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    background-color: var(--primary-color);
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0.1rem 0.3rem black;
    font: var(--font-dm-m) !important;

    &:hover {
        transform: scale(1.05);
    }
}

.BtnGame {
    background-color: var(--black);
    padding: 20px;
    border: solid 1px var(--white);
}
