.container {
  padding: 0;
  padding-left: 10em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: flex-start;
  justify-content: center;
  max-width: 75%;
  margin: auto;
  margin-bottom: 3em;
}
