.Wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-bottom: 20px;
  }
  
  
  .Container{
    margin-top: 30%;
    padding-bottom: 40px;
  
    flex-grow: 1;
    border-radius: var(--border-radius-custom);
    background-color: var(--transparent-bg-dark);
  
  
    h1{
      font: var(--font-dm-xxxl);
      line-height: 1.5;
      text-align: center;
      margin-bottom: 40px;
    }
  
  }
  
  
  .galleries{
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  
  @media (min-width: breakpoint(md)) {
    .Container {
      margin-top: 15vh;
    }
  }
  
  