

.NewsCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    filter: drop-shadow(8px 12px var(--drop-shadows));
    border-radius: var(--border-radius-figmadesktop);
    border: 4px solid var(--drop-shadows);
    width: 100%;
    background-color: var(--base-card-background);
    margin-top: 20px;
    margin-bottom: 5px;
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    height: 152px;
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }
    @media (max-width: 768px) {
        flex-direction: column;
    }
    @media (max-width: 602px) {
        flex-direction: column;
    }

    @media (max-width: 480px) {
        flex-direction: column;
        .content {
            line-height: 0.1em;
        }
    }
    @media (max-width: 390px) {
        width: 73%;
        height: 68%;
        margin-left: -15px;
        .text {
            font-size: 0.8rem;
            line-height: 1.3rem;
        }
        height: 155px;
    }
    @media (max-width: 320px) {
        width: 65%;
        height: 67%;
        margin-left: -8px;
        .text {
            font-size: 1rem;
            line-height: 1rem;
        }
        .title {
            gap: 1rem;
            line-height: 1rem;
            font-size: 1rem;
            text-overflow: ellipsis;
        }
        height: 140px;
    }
}
.content {
    display: flex;
    flex-direction: column;
    text-overflow: ellipsis;
    line-height: 2rem;
    font-family: var(--font-family-main);
    padding-left: 0.5rem;
}

.title {
    display: flex;
    margin-top: 5px;
    color: var(--az-heading);
    font-size: 1.1rem;
    width: 100%;
    line-height: 2rem;
    text-overflow: ellipsis;
}

.text {
    color: var(--text-primary);
    line-height: 1.5rem;
    margin: 0;
    font-size: 1rem;
}

.date {
    color: var(--text-secondary);
    margin-top: 10px;
    margin-bottom: auto;
    font-size: 1rem;
    margin-bottom: auto;
}

.imageContainer {
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 12px;
    width: 100%;
    height: 159px;
}
.image {
    width: 100%;
    height: 90%;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 45% 100%, 0 -25%);
}
