.NewsCard {
    display: flex;
    justify-content: space-between;
    background: var(--dark-bg);
    border-radius: 8px;
    padding: 1rem;
    gap: 1rem;
    min-height: 120px;
    border: 1px solid rgba(255, 165, 0, 0.3);
}

.content {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.azHeading {
    font-family: var(--font-family-az);
    color: var(--az-heading);
    font-size: 1.25rem;
    margin: 0;
}

.text {
    color: var(--text-primary);
    line-height: 1.5;
    margin: 0;
    font-size: 0.875rem;
}

.date {
    font-size: 0.75rem;
    color: var(--text-secondary);
    margin-top: auto;
}

.imageContainer {
    width: 120px;
    height: 120px;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 25% 0);
    border-radius: 4px;
}

.image {
    width: 180%;
    height: 180%;
    object-fit: cover;
    position: absolute;
    right: -20%;
    top: 45%;
    transform: translateY(-40%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 55%);
    
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.readMoreLink {
    font-weight: 500;
    color: var(--accent);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

@media (max-width: 768px) {
    .NewsCard {
        flex-direction: column;
        padding: 1rem;
    }

    .imageContainer {
        width: 100%;
        height: 160px;
        order: -1;
    }

    .title {
        font-size: 1.125rem;
    }
} 