.NewsCard {
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: space-between;
    filter: drop-shadow(8px 12px var(--drop-shadows));
    border-radius: var(--border-radius-figmadesktop);
    border: 4px solid var(--drop-shadows);
    width: 100%;
    background-color: var(--base-card-background);
    height: auto;
    min-height: 100px;
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: scale(1.02);
    }

    @media (max-width: 1440px) {
        height: 145px;
    }

    @media (min-width: 1024px) {
        height: 180px;
        grid-template-columns: 40% 60%;
        font-size: 0.5rem;
    }

    @media (max-width: 768px) {
        width: 85%;
        grid-template-columns: 40% 60%;
        font-size: 0.2rem;
        min-height: 100px;
        margin: auto;
    }
    @media (max-width: 480px) {
        width: 80%;
        margin: auto;
        margin-top: -10px;
        grid-template-columns: 40% 90%;
        margin-left: -15px;
    }

    @media (max-width: 390px) {
        width: 80%;
        height: 100px;
        margin: auto;
        grid-template-columns: 25% 80%;
        margin-left: -15px;
    }
  
      @media (max-width: 320px) {
        width: 70%;
        height: 100px;
        margin: auto;
        grid-template-columns: 20% 80%;
        margin-left: -20px;
    }
}
.content {
    display: flex;
    flex-direction: column;
    padding: 0.3rem;
    overflow: hidden;
    height: 100%;
    width: 205px;
    line-height: 1rem;
    justify-content: space-between;
    @media (max-width: 390px) {
        font-size: 0.3rem;
    }
}

.title {
    color: var(--az-heading);
    font-size: 0.9rem;
    width: 100%;
    line-height: 1.3rem;
    white-space: wrap;
    text-overflow: ellipsis;
}

.text {
    color: var(--text-primary);
    line-height: 1.5;
    font-size: 1rem;
    margin-top: auto;
    @media (max-width: 390px) {
        height: 200px;
        font-size: 0.5rem;
        line-height: 0.5rem;
    }
      @media (max-width: 320px) {
        height: 50px;
        line-height: 1rem;
    }
}

.date {
    color: var(--text-secondary);
    font-size: 0.8rem;
    margin-top: auto;
}
.imageContainer {
    flex-shrink: 0;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.image {
    width: 100%;
    height: 100%;
    margin-left: 107px;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%, 0 -45%);

    @media (max-width: 768px) {
    //  transform: translateY(-30%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%, 0 -40%);


    }
}
