.DropdownWrapper{
  cursor: pointer;
  user-select: none;
}

.DropdownWrapper.contentAbsolute{
  position: relative;

  .dropdownContent{
    position: absolute;
  }

}
.dropdownContent{
  display: grid !important;
}


.dropdownContent.closed{
  overflow: hidden;
  & > * {
    display: none;

  }

  padding: 0 !important;
}

.childrenWrapper{
  display: flex;
  gap: 7px;
}