.DropdownWrapper{
  cursor: pointer;
  user-select: none;
}

.DropdownWrapper.contentAbsolute{
  position: relative;

  .dropdownContent{
    position: absolute;
  }

}
.dropdownContent{
  display: grid !important;
}


.dropdownContent.closed{
  overflow: hidden;
  & > * {
    display: none;

  }

  padding: 0 !important;
}

.childrenWrapper{
  display: flex;
  gap: 7px;
}


.disabled {
  color: #c0c0c0;
  //pointer-events: none;
  opacity: 0.5;
  //text-decoration: none;
  cursor: not-allowed !important;
  transform: none !important;
  transition: none !important;
}
