.fixedButton{
  box-shadow: 0 0 0 4px var(--inverted-primary-color);
  transform: scale(70%);
  min-width: 40px;
  border-radius: var(--border-radius-custom);
  margin-left: auto;
  background-color: var(--secondary-color);
  font-size: 1.5em;
  font-weight: 900;
  & button{
     color: black;
     border: none;
     padding: 0;

     font: inherit;
     cursor: pointer;
     background-color: rgba(0, 0, 0, 0.05);
  }

}