.NavMenuWithDropdowns {
  width: 100%;
  filter: drop-shadow(2px 4px var(--drop-shadows));
  font: var(--font-m);
  line-height: var(--font-line-l);

  @media (max-width: breakpoint(lg)) {
    width: 50%;
    margin: auto;
  }

  @media (max-width: breakpoint(sm)) {
    width: 90%;
    margin: auto;
  }
}

.topDropDown {
  padding: 10px 0;
  color: var(--content-primary);
  transition: transform 0.4s ease-in-out;
  border-radius: var(--border-radius-figma);
  border: 2px solid var(--drop-shadows);
  width: 100%;
  background-color: var(--base-card-background);

  .topDropDownChildren {
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
  }

  .topDropDownContent {
    padding-left: 15px;
    padding-right: 15px;
  }

}

.subDropDown {
  color: var(--inverted-primary-color);
  justify-self: flex-start;
  width: 100%;

  .subDropDownChildren {
    justify-content: space-between;
  }

  .subDropDownContent {
    padding-left: 15px;
    color: var(--primary-color);

    &>*:hover {
      color: var(--secondary-color);
    }

    & a:hover {
      color: var(--secondary-color);
    }
  }
}

.topDropDownContent {
  .active {
    color: var(--secondary-color);
  }
}