.NavMenuWithDropdowns {
  width: 100%;
  filter: drop-shadow(8px 12px var(--black));
  line-height: var(--font-line-l) !important;
  font: var(--font-dm-l);

  // max-width can be changed but shouldnt really be necessary
  max-width: 280px;

  @media (max-width: breakpoint(lg)) {
    width: 50%;
    filter: drop-shadow(2px 4px var(--black));

    .topDropDown {
      padding: 12px 24px;
      border-radius: var(--border-radius-xl);
      border: 2px solid var(--black);
      line-height: var(--font-line-m) !important;
      font: var(--font-dm-m);
    }

    margin: auto;
  }

  @media (max-width: breakpoint(md)) {
    width: 100%;
    max-width: none; // allow full container width on mobile
    filter: drop-shadow(2px 4px var(--black));

    .topDropDown {
      padding: 12px 24px;
      border-radius: var(--border-radius-xl);
      border: 2px solid var(--black);
      line-height: var(--font-line-m) !important;
      font: var(--font-dm-m);
    }

    margin: auto;
  }
}

.topDropDown {
  padding: 23px 23px;
  color: var(--primary-color);
  transition: transform 0.4s ease-in-out;
  border-radius: var(--border-radius-lg);
  border: 4px solid var(--black);
  width: 100%;
  background-color: var(--background);

  .topDropDownChildren {
    justify-content: space-between;
    // padding-left: 15px;
    // padding-right: 15px;
  }

  // .topDropDownContent {
  //   padding-left: 15px;
  //   padding-right: 15px;
  // }

}

.subDropDown {
  color: var(--primary-color);
  justify-self: flex-start;
  width: 100%;

  .subDropDownChildren {
    justify-content: space-between;
    color: var(--primary-color);
  }

  .subDropDownContent * {
    padding-left: 15px;
    color: var(--white);

    &>*:hover {
      color: var(--primary-color);
    }

    & a:hover {
      color: var(--primary-color);
      text-decoration: underline;
    }
    
    &.active {
      color: var(--primary-color);
    }
  }
}

.topDropDownContent {
  .active {
    color: var(--primary-color);
  }
}

.link {
  color: var(--white);
  
  &.active {
    color: var(--primary-color);
  }
  &:hover {
    color: var(--primary-color);
    text-decoration: underline;
  }
}

.text {
  color: var(--white);
  cursor: pointer;
  &.active {
    color: var(--primary-color);
  }

}