.Container {
    display: flex;
    gap: 16px;
    height: 100%;
    background-color: #000;
    border-radius: 16px;
    padding: 16px;
    text-align: left;
    color: white;


    .leftCorner{
        flex: 1;
        margin: auto 0;
    }

    .rightCorner{
        padding-top: 16px;
        flex: 1;
    }


}

.Coin {
    display: inline;
    width: 1em;
    height: 1em;
}
