.Barchart {
    display: flex;
    height: 65%;
    width: 100%;
    position:relative;
}
.yAxis {
    width: 50px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    text-align: right;
    padding-right: 5px;
    border-right: 2px solid lightgreen;
}
.Number {
    margin-top:auto;
    font-weight:bold;
    font-size: 20px;
    color: lightgreen;
}
.Bars {
    flex: 1;
    display: flex;
    align-items: flex-end;
    gap: 0;
}
.BarContainer {
    flex:1;
    transition: height 0.3s ease;
}
.Bar{
    float:right;
    height: 100%;
    width: 80%;
    border-radius:10px 10px 0 0;
}
.Shadow{
    border-radius:10px 10px 0 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.3);
}
.Highlight {
    border-radius:10px 10px 0 0;
    height: 100%;
    width: 80%;
}
.Explanations {
    width: 100%;
    padding-left: 50px;
    height: 35%;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}