.PageWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.backgroundImageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: 0;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.componentWrapper {
  margin-top: 20%;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
  z-index: 1;
  animation: fadeIn 1s ease-in-out;
}

.componentWrapper.isTablet {
  transform: translateX(-2rem);
}
.componentWrapper.isDesktop {
  transform: translateX(-2rem);
}
.componentWrapper.isWidescreen {
  transform: translateX(-2rem);
}

.outerArrow {
  user-select: none;
  max-width: 75px;
}
.outerLeftArrow {
  transform: translateX(3.5rem);
}
.outerRightArrow {
  margin-left: 2rem;
}

.outerArrow.isMobile {
  display: none;
}

.heroImgSideWrapper {
  user-select: none;
  pointer-events: none;
  position: relative;
  max-width: 30em;
  width: 25em;
  height: 30em;
  z-index: 1;
  transform: translateX(5rem);
  filter: drop-shadow(0 0 1rem rgb(0, 0, 0));
  scale: 0.9;

  .heroImgSide {
    position: absolute;
    top: -12em;
    width: 40em;
    height: 50em;
    z-index: 2;
  }
}

.heroImgSideWrapper.isMobile {
  display: none;
}
.containerWrapper {
  filter: drop-shadow(0 0 1rem rgb(0, 0, 0));
  z-index: 1;
  scale: 0.9;
}

.container {
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 30rem;
  z-index: 1;
  filter: saturate(0.8);
  filter: brightness(0.9);
}

.containerWrapper.isMobile {
  margin-top: 3rem;
  margin-left: 10px;
  margin-right: 10px;
}

.contentWrapper {
  display: flex;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 10px;
  z-index: 1;
  filter: drop-shadow(0 0 0.5rem rgb(0, 0, 0));
}
.content {
  position: relative;
  padding: 1.5rem;
  border-radius: 6px;
}

.innerArrow {
  align-self: center;
  width: 40px;
  display: none;
  user-select: none;
  filter: drop-shadow(0 0 0.5rem rgb(0, 0, 0));
}

.innerArrow.isMobile {
  display: block;
}

.heroImgWrapper {
  width: 100%;
  display: flex;
  min-height: 30%;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 1rem;
  border: 3px solid rgb(255, 255, 255);
  filter: drop-shadow(0 0 0.1rem rgb(0, 0, 0));
}

.heroImgWrapper.isMobile {
  justify-content: space-between;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  filter: drop-shadow(0 0 0.1rem rgb(0, 0, 0));
  background-color: rgb(246, 246, 246);
}
.heroImg {
  width: 100%;
  user-select: none;
  pointer-events: none;
  filter: drop-shadow(0 0 0.5rem rgb(0, 0, 0));
  border-radius: 9px;
}
.heroImg.isMobile {
  width: 50%;
  user-select: none;
  pointer-events: none;
  margin-left: 1rem;
  margin-right: 1rem;
}

.heroImg.isMobile {
  transform: scale(120%);
}

.heroDescription {
  @include ScrollbarWithArrowButtons;
  margin-top: 2rem;
  overflow-y: scroll;
  font-size: 1.4rem;
  filter: drop-shadow(0 0 0.1rem rgb(0, 0, 0));
}

.heroName {
  text-align: center;
  margin-bottom: 2rem;
  filter: drop-shadow(0 0 0.2rem rgb(0, 0, 0));
}
.heroName.isMobile {
  padding-top: 1rem;
  font-size: 0.8rem;
}
.heroName.isTablet {
  font-size: 0.9rem;
}

.xLinkButton {
  @include link-scale-effect;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  filter: drop-shadow(0 0 0.2rem rgb(0, 0, 0));
  padding: 5px;

  &:hover h3 {
    color: orange;
  }
}

.xLinkButton.isMobile {
  margin: -0.5rem;
}
.xLinkButton.isTablet {
  font-size: 0.5rem;
  margin: -0.5rem;
}
