.ScrollTop {
  // _styles/themes/main.scss
  --primary-color: #FFA100;
  --white: #FAF9F6;
  --black: #121212;
  --border-desktop: 4px;
  --border-mobile: 2px;
  --h1-size-mobile: 32px;

  color: var(--black);
  border: var(--border-desktop) solid var(--black);
  border-radius: var(--border-radius-custom);
  background-color: var(--primary-color);
  z-index: var(--navbar-z-index);
  cursor: pointer;
  width: 70px;
  height: 70px;
  padding:0 !important;
  display: grid;
  position: fixed;
  bottom: 118px; // 32px + 70px + 16px + 70px
  right: 32px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  transform: rotate(90deg); // For making '<<' (\226A) point up
  font-size: 70px !important;
  @media (max-width:breakpoint(lg)) {
    width:60px;
    height:60px;
    right: 16px;
    bottom: 260px;
    border-width: var(--border-mobile);
    border-radius: calc(var(--border-radius-custom) * 1.5);
    font: var(--font-xxl) !important;
  }
}

.ScrollTop::before {
  content:'\226A'; // Much less than -symbol ('<<')
}

.show {
  opacity: 1;
  visibility: visible;
}
