.SectionVideoAndGalleries {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  @include backGroundImageDefault;
}

.container {
  padding: 0 40px;
  display: flex;
  justify-content: center;
  gap: 20px;

}

.videoWrapper {
  width: 300px;
  flex: 1;
}

.videoWrapper>div {
  height: 100% !important;
}

.galleries {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.galleries>div {
  width: calc(50% - 5px);
}

.galleries img {
  height: 160px;
  width: 100%;
}

@media screen and (max-width: 1150px) {
  .SectionVideoAndGalleries {
    flex-direction: column;
  }

  .container {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    padding: 0;
  }

  .videoWrapper {
    margin-top: 5%;
    width: 100%;
  }

  .galleries {
    width: 50%;
  }

  .galleries>div {
    width: 100%;
  }
  .HorizontalLines {
    margin-top: 10%;
  }
  
}


