$touchSize: 1023px;
.NewsPage {
    min-height: 80vh;
}
.title {
    font: var(--font-sw-xxl);
    text-align: center;
    padding: 0;
    color: var(--primary-color);

    @media (max-width: $touchSize) {
        order: 0;
        border-right: unset;
    }

    @media (max-width: breakpoint(md)) {
        order: 1;
        margin-right: 30px;
    }
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
    justify-content: space-between;

    @media (max-width: breakpoint(xl)) {
        flex-direction: column;
        align-items: center;
    }
}

.newsGrid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    justify-content: center;
    @media (max-width: 480px) {
        grid-template-columns: 1fr;
    }
}

.noMoreNews {
    margin: 20px 0;
    font: var(--font-dm-m);
    opacity: 0.7;
    text-align: center;
}
