.Wrapper {
  //z-index: 5;
  //--paddingMultiplier: 0.07;
  --paddingMultiplier: 0.1;
  --padding: calc(var(--paddingMultiplier) * var(--cardWidthLocal));
  padding: var(--padding) var(--padding) var(--padding); // works fine with border 3
  //padding: var(--padding) var(--padding) calc(var(--padding) * 2); // works fine with border-border2 images

  &:hover,
  &:active {
    .HeroImg {
      transform: scale(1.1);
    }
  }
}

.HeroDiv {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-custom);
  border: var(--border-thick-black);

  overflow: hidden;
}

.HeroImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  transition: 0.21s transform ease-in-out;
  //transition: transform 0.2s ease;
  //transform: scale(0.92);
}
