.AttributePricing{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
   
}
.InlineBlock {
    margin-right: auto;
    margin-left: 1em;
    margin-bottom: 1em;
    display: inline-block;
}
.Header {
    color:var(--primary-color);

    white-space: nowrap;
}
.Stats {
    border-radius: .5em;
    background-color: rgba(0,0,0,.7);
    outline: 2px solid var(--primary-color);
    border-width: 1px;
    text-align: center;
    font: var(--font-l);
}
.Dropdown {
    outline: 2px solid var(--primary-color);
    background-color: rgba(0,0,0,.7);
    color: var(--primary-color);
    border-radius: .5em;
    text-align: center;
    font: var(--font-l);
}
.Price {

}
.Sum {
    color:var(--primary-color);
    font: var(--font-xl);
    line-height: 1em;
    margin-top: -.5em;
    height:fit-content;
}
.Value {
    padding-left: .4em;
    font: var(--font-m);
    padding-top: .3em;
}
