.AttributePricing{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
   
}
.InlineBlock {
    margin-right: auto;
    margin-left: 1em;
    margin-bottom: 1em;
    display: inline-block;
}
.Header {
    color:var(--secondary-color);
    font-weight: bold;
    white-space: nowrap;
}
.Stats {
    border-radius: .5em;
    background-color: rgba(0,0,0,.7);
    outline: 2px solid var(--secondary-color);
    font-weight: bolder;
    border-width: 1px;
    text-align: center;
    font-size: 1.5em;
}
.Dropdown {
    outline: 2px solid var(--secondary-color);
    background-color: rgba(0,0,0,.7);
    color: var(--primary-color);
    border-radius: .5em;
    text-align: center;
    font-size: 1.5em;
}
.Price {
    font-weight: bold;
}
.Sum {
    color:var(--secondary-color);
    font-weight: bold;
    font-size: 2em;
    line-height: 1em;
    margin-top: -.5em;
    height:fit-content;
}
.Value {
    padding-left: .4em;
    font-size: 1.2em;
    padding-top: .3em;
}
