.authLayout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 80svh;
}

@media (hover: none) {
    .authLayout {
        min-height: 100lvh;
    }
}
