.overlayClassName{
  position: fixed;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.47);

  display: flex;
  align-items: center;
  justify-content: center;



};


.contentClassname{

  max-height: 92vh;
  overflow-y: auto;
  overflow-x: hidden;
  @include custom-scrollbar


}