.SectionPlayWithUs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 20px;
    justify-content: flex-start;
}


.GooglePlayButton {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.GooglePlayImage {
   max-height: 50px;
   width: auto;
}