.SectionPlayWithUs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  position: relative;
  gap: 20px;
  justify-content:start;

}
.Buttons {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

  }
}
 .sideImg {
    margin-left: 0;
    align-self: center;
  }


.title {
  font-family: var(--font-family-title), sans-serif;
  font-size: var(--font-line-xxxl);
  color: var(--primary-color);
  margin-bottom: 20px;
  //todo add animation as well
  //opacity: 0;
  //transform: translateX(-100%);
  //transition: transform 1.5s ease-in-out, opacity 1.5s ease-in-out;

  //&.inView {
  //  opacity: 1;
  //  transform: translateX(0);
  //}

  @media screen and (max-width: 600px) {
    font-size: var(--font-line-xxl);
  }

  @media screen and (max-width: 450px) {
    font-size: var(--font-line-xl);
  }
}

.NavElements {
  gap: 50px;
  margin-top: 2rem;
  display: flex;
  justify-content: center;

}








.webGl { 
  width: fit-content;
  padding: 0 1.2rem;
  border-radius: 40px;
  border: 1px solid black;
  height: 50%;
  background-color: var(--primary-color);
  & * {
    font-size: 1.3rem !important;
    color: var(--white) !important;
  }



  white-space: nowrap;
  min-width: fit-content;

  @media (max-width: breakpoint(md)) {
    & * {
      font-size: 2rem !important;
    }
  }


  @media (max-width: 450px) {
    & * {
      font-size: 2rem !important;
    }
  }
  h3{
    color: black !important;
  }
}



.BtnDownload {
  @include link-scale-effect;
  border-radius: var(--border-radius-custom);
  width: inherit;
  height: inherit;
  
}

.imageHolder{
  display: flex;
  align-items: center;
  justify-content: center;
}

.Content {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  flex: 1;
  margin-top: 2rem;
}

.ContentWithNav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  background-color: #1E3544;
  border: 3px solid black;
  padding: 20px;
  box-shadow: 0.5rem 0.5rem black;
  border-radius: var(--border-radius-custom);

  
}


@media (max-width: breakpoint(sm)) {

   
    .Content {
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
  }
  .imageHolder{
    min-width: 450px;
  }
  .sideImg {
    margin-left: 0;
    align-self: center;
    width: 3000px !important;

  }
  .title{
  font-size: 1.6rem !important;
  }
  }

@media (max-width: breakpoint(md)) {
  .WebGLNotice {
   max-width: 38vh;

   }
   
    .Content {
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
  }
  .sideImg {
    margin-left: 0;
    align-self: center;
    width: 50% !important;

  }
  }





@media (max-width: breakpoint(xl)) {
 .Content {
    width: 90%;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .sideImg {
    margin-left: 0;
    align-self: center;
    width: 90%;
  }
    .NavElements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .title{
    font-size: 2.4rem;
  }
}

@media (min-width: breakpoint(xl)) {
 .Content {
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .sideImg {
    margin-left: 0;
    align-self: center;
    width: 100% !important;
  }
    .NavElements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
  }
}