.animationGallerySection {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 3rem;
    box-shadow: 0.3rem 0.3rem var(--drop-shadows);
    border: 2px solid var(--drop-shadows);
    border-radius: 10px;
    background-color: var(--base-card-background);
}

.block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--base-card-background);
    box-shadow: 0.3rem 0.3rem var(--drop-shadows);
    border: 2px solid var(--drop-shadows);
    border-radius: 10px;
    padding: 20px;
}

.textBlock {
    text-align: flex-start;
    max-width: 800px;
    width: 100%;
}

.title {
    font: var(--font-sw-xl);
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-family: var(--font-family-title), serif;
    color: var(--primary-color);
}

.author {
    font: var(--font-sw-l);
}

.socialsContainer {
    display: flex;
    margin-top: 0.5rem;
}

.description {
    font: var(--font-dm-m);
    color: var(--white-text);
    margin: 0.5rem 0;
}

.framesContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

.frameRow {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.imageWrapper {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    flex: 1 1 0;
    aspect-ratio: 16 / 9;
    width: 374px;
    height: 246px;
    min-height: 180px;
}

.frameImage {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
    object-position: center;
}

.animationContainer {
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    aspect-ratio: 16 / 9;
    width: 720px;
    height: 472px;
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
}

.animationImage {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
    object-position: center;
}

.noAnimationsFoundContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: var(--base-card-background);
    box-shadow: 0.3rem 0.3rem var(--drop-shadows);
    border: 2px solid var(--drop-shadows);
    border-radius: 10px;
}

.noAnimationImageContainer {
    position: relative;
    width: 160px;
    height: 160px;
    margin-bottom: 1rem;
}

.noAnimationsImage {
    width: 160px;
    height: 160px;
    object-fit: contain;
    margin-bottom: 1rem;
}

.noAnimationsTitle {
    font: var(--font-sw-l);
    font-weight: bold;
    margin-bottom: 0.5rem;
    font: var(--font-sw-l);
    color: var(--white-text);
}

.noAnimationsText {
    font: var(--font-dm-m);
    color: var(--white-text);
    text-align: center;
}

@media (max-width: breakpoint(md)) {
    .framesContainer {
        width: 100%;
    }

    .frameRow {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: stretch;
    }

    .imageWrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        aspect-ratio: auto;
        height: auto;
    }

    .frameImage {
        object-fit: contain;
        object-position: center;
        width: 100%;
        height: 100%;
    }

    .animationContainer {
        width: 100%;
    }

    .buttonWrapper {
        width: 100%;
        flex: 0 0 auto;
        aspect-ratio: auto;
        min-height: 0;
    }

    .textBlock {
        text-align: center;
    }
    .author {
        text-align: center;
    }
    .description {
        text-align: flex-start;
    }
    .title {
        font: var(--font-sw-l);
    }
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--base-card-background);
    box-shadow: 0.3rem 0.3rem var(--drop-shadows);
    border: 2px solid var(--drop-shadows);
    border-radius: var(--border-radius-figmadesktop);
    padding: 20px;
    text-align: center;
    font: var(--font-dm-m);
    color: var(--white-text);

    span {
        color: var(--primary-color);
        margin-left: 5px;
    }
    @media (max-width: breakpoint(md)) {
        flex-direction: column;
    }
}
