.buttonContainer {
    text-align: center;
}

.SeeMore {
    margin-top: 3rem;
    opacity: 0;
    filter: blur(5px);
    transform: scale(0.9) rotate(-5deg);
    background-color: rgba(0, 0, 0, 0);
    transition: opacity .5s ease-out, filter .5s ease-out, transform .5s ease-out, background-color 1.5s ease-out;
}

.SeeMore.inView {
    opacity: 1;
    filter: blur(0);
    background-color: rgba(0, 0, 0, 0.7);
    transform: scale(1) rotate(0deg);
}

.SeeMore:hover {
    filter: blur(0);
    background-color: rgba(0, 0, 0, 0.9);
    transform: scale(1.05) rotate(0deg);
    transition: filter 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
}

.AnimationGallerySection {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
    background-color: #1E3544;
    box-shadow: 0.3rem 0.3rem black;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
}

.textBlock {
    text-align: start;
    max-width: 800px;
    width: 100%;
}

.title {
    font: var(--font-sw-xl);
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-family: var(--font-family-title), serif;
    color: var(--primary-color);
}

.author {
    font: var(--font-sw-m);
}

.description {
    font: var(--font-dm-m);
    color: #faf9f6c0;
    margin-top: 1rem;
}

.framesContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.frameRow {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.imageWrapper {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    flex: 1 1 0;
}

.buttonWrapper {
    display: flex;
    flex: 1 1 0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.frameImage {
    object-fit: cover;
}

.animateButton {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

@media (max-width: breakpoint(md)) {
    .frameRow {
        flex-direction: column;
    }
    .animateButton{
        width: 100%;
        height: 20vh;
    }
    .textBlock{
        text-align: center;
    }
    .title{
        font: var(--font-sw-l);
    }
    .author {
        text-align: center;
    }
    .description {
        font: var(--font-dm-m);
        text-align: start;
    }

}


