.MembersSection li {
  list-style-type: none;
}

.MembersSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scrollBottomButton {
  margin-bottom: 10px;
  @include link-scale-effect;
}

.membersListContainer {
  font-size: clamp(0.5rem, 3vw, 1.7rem);
  font-family: var(--font-family-main);
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: var(--border-radius-custom);
  padding: 0.7rem;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: start;

  h1 {
    text-transform: uppercase;
    color: var(--secondary-color);
    text-align: start;
    padding-left: 3rem;
    padding-bottom: 1rem;
    background-color: transparent;
  }

  h2 {
    color: var(--secondary-color);
    text-align: center;
    font-size: clamp(0.5rem, 3vw, 2rem);
    padding-bottom: 0.8rem;
    padding-right: 6rem;
  }
}
.memberCard {
  padding-bottom: 3rem;
  border-radius: var(--border-radius-custom);
}
