.MembersSection {
  font-family: var(--font-family-texts);
  display: grid;
  justify-items: center;
  user-select: none;
}

.scrollBottomButton {
  margin-bottom: 10px;
  @include link-scale-effect;
}

.membersListContainer {
  border-radius: var(--border-radius-custom);
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.55);
}

.membersListContainer h2 {
  font-size: clamp(20px, 3vw, 50px);
  font-family: var(--font-family-main);
  line-height: 1.5;
  color: blue;
  text-align: center;
}

.membersListContainer h1 {
  font-size: clamp(20px, 3vw, 30px);
  font-family: var(--font-family-main);
  color: red;
  text-align: start;
}

.workmanComponent {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
  padding-left: 20%;
  padding-right: 20%;

  .memberRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 10px 0;
  }

  .teamName {
    text-align: left;
    font-weight: bold;
    font-size: 1.1rem;
    flex: 1;
  }

  .centerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex: 2;
    text-align: center;
  }

  .memberName {
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
  }

  .taskText {
    font-size: 1rem;
    color: white;
    text-align: center;
    flex: 1;
  }

  .iconContainer {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
  }

  .clickableLogo {
    color: var(--secondary-color);
    cursor: pointer;
    @include link-scale-effect('icon');
  }

  .memberLogo {
    @include link-scale-effect('icon');
    size: inherit;
    margin-top: 10px;
  }
}
