.Border {
  width: 32%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-image 0.3s;
  position: relative;
}



//todo fix the size of the img and the position
.HeroBorder {
  @include custom-invisible-hover;
  position: absolute;
  // right: 0;
  // left: 0;
  // top: 0;
  // bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.HeroDiv {

  border-radius: var(--border-radius-custom);
  border: var(--border-thick-yellow);
  // width: 60%;
  // height: 70%;
  width: 350px;
  height: 350px;
  margin-left: 70px;
  margin-top: 50px;
  margin-right: 50px;
  margin-bottom: 50px;

  background-color: var(--transparent-bg-orange);
  cursor: pointer;
  overflow: hidden;
}

.HeroImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1400px) {
  .Border {
    width: 90%;
  }
  .HeroDiv {
    width: 600px;
    height: 600px;
  }
}

@media (min-width: 1401px) and (max-width: 1600px) {
  .Border {
    width: 40%;
  }
  .HeroDiv {
    width: 400px;
    height: 400px;
  }
}