.Main{
  padding: 150px 0;
  background-color: rgba(126, 96, 99, 0.61);
  font-family: var(--font-family-texts);
}

.title{
  font: var(--font-xxxl);
  font-family: Tahoma, serif;
  margin-bottom: 50px;
  text-align: center;

}