.PageWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.backgroundImageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  justify-content: center;
}

.componentWrapper {
  margin-top: 10%;
  margin-bottom: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  animation: fadeIn 1s ease-in-out;
}

.outerArrow {
  max-width: 150px;
  user-select: none;
}

.outerArrow.isMobile {
  display: none;
}

.heroImgSideWrapper {
  user-select: none;
  pointer-events: none;
  position: relative;
  max-width: 60.875em;
  width: 40.1666666667em;
  height: 42.6666666667em;
  z-index: 1;

  .heroImgSide {
    position: absolute;
    top: -1.3333333333em;
    left: 10%;
    width: 40.1666666667em;
    height: 43.2916666667em;
    z-index: 2;
  }
}

.heroImgSideWrapper.isMobile {
  display: none;
}

.containerWrapper.isMobile {
  padding-left: 10%;
}

.container {
  position: relative;
  max-width: 600px;
  z-index: 1;
}

.bgImg {
  width: 100%;
  user-select: none;
  pointer-events: none;
}

.contentWrapper {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.content {
  position: relative;
  top: 50%;
  left: 5%;
  transform: translate(-12.5%, 50%);
}

.heroImgWrapper {
  border: solid 4px white;
  background: red;
  width: 100%;
  aspect-ratio: 16 / 8;
  display: flex;
  justify-content: center;
}

.heroImgWrapper.isMobile {
  justify-content: space-between;
}

.innerArrow {
  align-self: center;
  width: 50px;
  display: none;
  user-select: none;
}

.innerArrow.isMobile {
  display: block;
}

.heroImg {
  width: 50%;
  height: auto;
  user-select: none;
  pointer-events: none;
}

.heroImg.isMobile {
  transform: scale(130%);
}

.heroDescription {
  padding: 0 1rem;
  margin-top: 7%;
  overflow-y: auto;
  @include ScrollbarWithArrowButtons;
  font-size: 1.3rem;
}

.xLinkButton {
  right: 10%;
  top: 24%;
  position: absolute;
  cursor: pointer;
  z-index: 1;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.heroName {
  top: 20%;
  left: 26%;
  position: absolute;
  border-bottom: 5px solid white;
  border-top: 5px solid white;
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
