.Dialog {
  position: fixed;
  inset: 0;
  margin: auto;
  background-color: #000000cc;
  border: none;
  border-radius: 16px;
  padding: 0;
  width: min(832px, 90%);
  z-index: 99;
  outline: none;
  transform: translateY(-20px) scale(0.95);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.Dialog.open {
  transform: translateY(0) scale(1);
  opacity: 1;
}

.Dialog.close {
  transform: translateY(-20px) scale(0.95);
  opacity: 0;
}

.Dialog:focus {
  outline: 2px solid rgba(255, 255, 255, 0.5);
  transform: scale(1.01);
}

.Dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(0.5px);
  animation: Dialog-fadeIn 0.3s ease;
}

@keyframes Dialog-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Close {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 24px;
  cursor: pointer;
}
