
.LayoutWithSidebars {
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: unset;
}
.Content {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1200px; 
    padding: 0 16px;  
}