.LayoutWrapper {
  background-color: unset;
}

.Content {
  width: 100%;
  margin: 0;
  padding: 0;
}

.InnerContainer {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 16px 40px;

  @media (max-width: 768px) {
    padding: 0 12px 32px;
  }
}
