.Container {
    display: grid;
    grid-template-columns: 1fr;

    gap: 35px;

    margin: 10px auto 40px;
    padding-bottom: 2vh;
}

@media screen and (max-width: breakpoint(sm)) {
    .Container {
        gap: 20px;
        margin: 0 auto;
    }
}
