.NavElement {
  @include link-scale-effect;
  //border: solid 1px var(--primary-color);
  border-radius: var(--border-radius-custom);
  hyphens: auto;
  padding: 10px;

  background-color: rgba(0, 0, 0, 0.7); //   background-color: rgba(var(--inverted-bg-color), 0.8);   => does not work 

  p,
  a {
    padding: 0;
    text-align: center;
    margin: 0 !important;
    margin-top: 1rem !important;
    font-size: 1.2rem;
  }

  h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }
}