.DiscordIcon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}
.DiscordButton{
    border-color: var(--primary-color);
    box-shadow: black;
}
.ContactSection {
    min-height: 401px;
    padding: 24px 220px;
    display: flex;
    align-items: center;

    @media (max-width: breakpoint(md)) {
        padding: 2rem 1rem;
        min-height: unset;
    }
}
