.SectionPlayWithUs {
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.Content{
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-direction: row;
  background-color: #1E3544;
  border: 3px solid black;
  box-shadow: 0.5rem 0.5rem black;
  border-radius: var(--border-radius-custom);
  margin: 20px 0;
  gap: 5rem;
  width: fit-content;
  height: 20rem;
  padding: 4rem;
}

.ContentWithNav{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  .title{
    font-size: 2.5rem;
    color: var(--primary-color);
    white-space: pre-line;
    text-align: center;
    font-family: var(--font-family-title), sans-serif;

  }
  .Link{

    color: black;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 50px ;
    background-color: var(--primary-color);
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0.1rem 0.3rem black;
    &:hover{
      background-color: var(--primary-color);
      color: var(--background-secondary-color);
      transform: scale(0.95);
    }

  }
}

@media screen and (max-width: breakpoint(sm)) {
 
  
}
@media screen and (max-width: breakpoint(xl)) {

}
