.NewsElementPage {
    min-height: max-content;
    padding: 0 0rem;
    background-color: var(--background);
    border: 4px solid var(--drop-shadows);
    border-radius: var(--border-radius-figmadesktop);
    filter: drop-shadow(8px 12px var(--drop-shadows));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
}

.navButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.ButtonNewsNavigation {
    border-radius: var(--border-radius-xl);
    border-width: 4px;
    border-style: solid;
    border-color: var(--black);
    color: var(--black);
    font: var(--font-dm-m);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.buttonImage {
    width: 8px;
    color: var(--black);
}

.imageContainer {
    position: relative;
    width: 100%;
    height: 30vh;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
}

.image {
    z-index: 1;
    width: 30vw;
    object-fit: cover;
    object-position: center;
    align-self: center;
    box-shadow: var(--s-blur);
}

.imageBlur {
    position: absolute;
    z-index: 0;
    width: 100vw;
    object-fit: cover;
    object-position: center;
    align-self: center;
    overflow: hidden;
    filter: blur(20px);
}

.title {
    line-height: 40px;
    color: var(--primary-color);
    font: var(--font-sw-xxl), serif;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.subtitle {
    line-height: 10px;
    color: var(--white);
    font: var(--font-sw-l), serif;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.text {
    color: var(--white);
    font: var(--font-dm-m);
    padding: 10px 5em;
    text-align: center;
    width: 100%;
    white-space: pre-line;
}

@media (max-width: breakpoint(md)) {
    .text {
        padding: 10px 1em;
    }
}

.newsGrid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    justify-content: center;
}

.readmoreText {
    padding: 3em 0px 1em;
}

.titleReadmore {
    line-height: 40px;
    color: var(--primary-color);
    font: var(--font-sw-xl), serif;
    text-align: left;
    width: 100%;
    margin: 0 auto;
}

.date {
    color: var(--primary-color);
    font: var(--font-dm-m);
}

.metaContainer {
    color: var(--primary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px 20px 40px;
    width: 100%;
    gap: 16px;
}

.shareButton {
    color: var(--primary-color);
    display: flex;
    align-items: center;
    align-self: flex-start;
    padding: 0 5em;
    margin-top: 16px;
}

.author {
    margin-bottom: 0;
    font: var(--font-dm-m);
    line-height: 1.2;
    vertical-align: baseline;
}

.date {
    margin-bottom: 0;
    font: var(--font-dm-m);
    line-height: 1.2;
    vertical-align: baseline;
}

.shareLabel {
    text-align: center;
    font: var(--font-dm-m);
}
