.ScrollTop {
  z-index: var(--navbar-z-index);
  cursor: pointer;
  position: fixed;
  bottom: 30px;
  right: 30px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.show {
  opacity: 1;
  visibility: visible;
}



