.siteNav {
    position: absolute;
    font: var(--font-dm-bold-m);
    padding-top: 50px;
    color: #fbf7dc;
    width: 100%;
    text-align: center;
    z-index: var(--navbar-z-index);
    top: 0;
    font-size: max(calc(20 * calc(min(750px, 100vw) / 750)), 12px) !important;
    user-select: none;

    &.collapsed {
        overflow: hidden;
    }
}

.siteNav.fixed {
    position: fixed;
    top: 0;
    width: 100%;
}

.col {
    color: var(--primary-color);
    text-align: center;
    padding: auto;
    font-size: 1.1em;
}

.siteNavContentList.mouseOver .itemNavbarDropDownContent {
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    inline-size: 140px;
    overflow-wrap: break-word;
    opacity: 1;
}
.controlContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 330px;
    .navItem:nth-child(3) {
        margin-right: 20px;
    }
    .navItem:nth-child(2) {
        margin-right: -10px;
    }
    .navItem:nth-child(1) {
        margin-right: -15px;
    }
    @media (max-width: breakpoint(xl)) {
        width: 250px;
        .navItem:nth-child(1) {
            margin-left: -80px;
        }
    }
}
.siteNavContentList {
    height: 52px;
    transition: height 0.3s ease 0s;
    align-items: center;
    background-color: var(--base-card-background);
    filter: drop-shadow(8px 12px var(--drop-shadows));
    border-radius: var(--border-radius-lg);
    border: 4px solid var(--drop-shadows);
    list-style: none;
    z-index: 2;
    position: relative;
    width: 100%;
    margin-left: auto;
    display: flex;
    top: 0;

    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    padding-top: 7px;

    &.mouseOver {
        height: 250px;
        top: 0;
        opacity: 1;
    }

    @media (max-width: breakpoint(xl)) {
        .navItem:nth-child(7) {
            margin-left: -5px;
        }

        .controlContainer {
            margin-left: -15px;
        }
    }
}

.siteNavContentList.collapsed {
    width: 50px;
    opacity: 0.8;
    height: 52px;
    transition: width 0.3s ease 0s;
    align-items: center;
}

.navItem {
    position: relative;
    color: var(--primary-color);
    transform: translateX(0) scaleX(1);
    transform-origin: right;
    line-height: initial;
    cursor: pointer;
    opacity: 1;
    transform: translateX(0) scaleX(1);

    transition:
        transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1),
        margin-top 0.4s cubic-bezier(0.4, 0, 0.2, 1),
        color 0.2s ease-out;

    &:hover .itemNavbarDropDownContent {
        display: flex;
        flex-direction: column;
        // padding-top: 10px;
        inline-size: 140px;
        opacity: 1;
        z-index: 3;
    }

    &:hover {
        color: var(--primary-color);
    }

    &.collapsed {
        transform: translateX(-100px) scaleX(0.7);
        opacity: 0;
        visibility: hidden;
    }

    &.active {
        color: var(--primary-color) !important;

        & > a {
            color: var(--primary-color) !important;
        }
    }
}

.itemNavbarDropDownContent {
    gap: 0.2rem;
}

.appLinkLogo {
    display: block;
    position: relative;
    width: 100px;

    .itemLogoImg {
        position: absolute;
        top: -2.5em;
        left: 0;
        z-index: 100;
        height: auto;
        max-width: none;
        width: auto;
    }

    .itemClanLogoImg {
        position: absolute;
        top: -4.5em;
        left: 0;
        z-index: 100;
        height: auto;
        width: 150%;
        max-width: 150%;
    }
}

.itemNavbarDropDownContent {
    text-align: left;
    max-width: 150%;
}

.siteNavContentList:hover .itemNavbarDropDownContent > *:hover {
    text-decoration: underline;
}

.siteNavContentList:hover .langSwitcher li {
    display: flex;
}

.langSwitcher {
    color: var(--primary-color);
    font: var(--font-dm-bold-m);
    display: flex;
    align-items: center;
    gap: 12px;

    ul {
        display: none;
        position: absolute;
        margin-top: 80px;
        height: max-content;
        width: max-content;
        list-style-type: none;
        padding: 4px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 40px;
    }

    li {
        cursor: pointer;
        height: 25px;
        display: flex;
        align-items: center;
        display: none;
    }

    li:hover {
        color: white;
    }

    img {
        width: 28px;
    }
}

.authButton {
    position: relative;
    color: var(--primary-color) !important;
    text-align: center;
    padding: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 38px;
    cursor: pointer;

    & > * {
        color: var(--primary-color) !important;
    }
}

.CollapseButtonWrapper {
    position: absolute;
    right: 1px;
    top: 5px;
    opacity: 1 !important;

    .CollapseButton {
        cursor: pointer;
    }

    &.collapsing {
        cursor: pointer;

        .CollapseButton {
            pointer-events: none;
            opacity: 0.5;
        }
    }
}
.siteNav.collapsed .siteNavContentList {
    width: 50px;
    height: 50px;
    overflow: hidden;
    transition: width 0.3s ease-out;
    opacity: 0.8;
}

.authContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.authTrigger {
    cursor: pointer;
    z-index: 1;
}

.authDropdown {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 5px;
    max-width: 300px;
    transform: translateX(40%) translateY(-4px) scale(0.98);
    font-size: 0.7em;
    max-height: 100px;
    border-radius: var(--border-radius-lg);
    color: var(--primary-color);
    padding: 15px;
    transition:
        opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1),
        transform 0.1s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0s, 0s;

    &.authDropdownVisible {
        opacity: 1;
        pointer-events: auto;
        transform: translateX(40%) translateY(0) scale(1);
        transition-delay: 0.2s, 0.2s;
    }
}

.toggleAuthMode {
    background: none;
    border: none;
    color: var(--primary-color);
    text-decoration: underline;
    cursor: pointer;
    padding: 5px 0;
    margin-top: 10px;
    font: var(--font-dm-bold-m);
    font-size: inherit;
}

.authDropdownContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;
    min-width: 160px;
    padding: 14px 0;
}

.logoutButton {
    margin-top: 8px;
    cursor: pointer;
    background-color: var(--primary-color);
    border: none;
    border-radius: var(--border-radius-xl);
    box-shadow: 2px 2px var(--black);
    width: 260px;
    padding: 10px 0;
    color: var(--black);
    font-weight: 600;
    font-size: 1em;
    text-align: center;
    @media (max-width: breakpoint(xl)) {
        width: 230px;
    }
}
