.siteNav {
  font: var(--font-xxl);
  padding-top: 50px;
  color: #fbf7dc;
  width: 100%;
  text-align: center;
  z-index: var(--navbar-z-index);
  font-weight: 500;
  top: 0;
  font-size: max(calc(20 * calc(min(750px, 100vw) / 750)), 12px);
  margin-top: 5px;
  position: relative;

}

.fixed {
  position: sticky;
}

//.siteNavContentList {
//  min-height: 50px;
//  padding: 0 10px 0 50px;
//  background-color: black;
//  border-radius: var(--border-radius-custom);
//  border: var(--inverted-secondary-color) 2px solid;
//  //display: flex;
//  //align-items: center;
//  //justify-content: flex-start;
//  gap: 1em;
//  list-style: none;
//  z-index: 2;
//  position: relative;
//
//  //max-width: 100%;
//
//  width: 100%;
//  transition: width 0.4s ease-out, opacity 0.4s ease-out;
//  &.collapsed {
//    width: 50px;
//    margin-left: auto;
//  }
//
//}
//
//.siteNavContentListCollapsingPart{
//  min-height: 50px;
//  display: flex;
//  align-items: center;
//  justify-content: flex-start;
//  gap: 1em;
//
//
//  //width: 100%;
//  //transition: opacity 0.4s ease-out;
//
//  &.collapsed {
//    transform: translateX(calc(100% - 50px));
//    //max-width: 50px !important;
//    //width: 50px;
//    margin-left: auto;
//    opacity: 0;
//  }
//
//}

.siteNavContentList {
  //min-height: 50px;
  height: 52px;

  padding: 0 10px 0 50px;
  background-color: black;
  border-radius: var(--border-radius-custom);
  border: var(--inverted-secondary-color) 2px solid;
  gap: 1em;
  list-style: none;
  z-index: 2;
  position: relative;
  width: 100%;
  transition: width 0.4s ease-out, padding-right 0.4s ease-out, opacity 0.4s ease-out;
  margin-left: auto;
}

.siteNavContentList.collapsed {
  //padding-right: 90%;

  width: 50px; /* Уменьшение ширины при сворачивании */
  padding-right: 10px;
  opacity: 0.8;

}

.siteNavContentListCollapsingPart {
  //min-height: 50px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  transition: opacity 0.4s ease-out;
}

.siteNavContentListCollapsingPart.collapsed {
  //padding-right: 90%;
  opacity: 0;
  visibility: hidden;
}





.appLinkLogo {
  display: block;
  position: relative;
  width: 120px;

  .itemLogoImg {
    position: absolute;
    top: -2.5416666667000003em;
    left: 0;
    z-index: 100;
    height: auto;
    max-width: none;
    width: auto;
  }

  .itemClanLogoImg {
    position: absolute;
    top: -4.5em;
    left: 0;
    z-index: 100;
    height: auto;
    width: 150%;
    max-width: 150%;
  }
}

.itemNavbarDropDownContent {
  outline: 2px solid var(--inverted-primary-color);
  text-align: left;
  border-radius: var(--border-radius-custom);
  background-color: var(--transparent-bg-dark);
  padding: 10px;

  div {
    @include link-scale-effect;
  }
}

.navItem {
  display: flex;
  height: max-content;
  line-height: initial;
  padding: 10px 0;
}

.langSwitcher {
  border-radius: var(--border-radius-custom);
  outline: 2px solid var(--inverted-primary-color);
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--secondary-color) !important;
  font-size: var(--font-size-m) !important;
}

.authButton {
  border-radius: var(--border-radius-custom);
  outline: 2px solid var(--inverted-primary-color);
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--secondary-color) !important;
  font-size: var(--font-size-m) !important;
  text-align: center;

  padding: 4px;

  &>* {
    color: var(--secondary-color) !important;
  }
}

.logoutButton {
  cursor: pointer;
}


.FixButtonWrapper {
  margin-left: auto;
  margin-right: 50px;
  .FixButton{
  }
}

.CollapseButtonWrapper {
  position: absolute;
  right: 12px;
  top: 8.5px;

  opacity: 1!important;
  .CollapseButton{
    cursor: pointer;
  }
}
