.Card {
    --border-radius-md: 8px;
    --border-radius-sm: 4px;
    --heading-font: 'Sedgwick Ave Display', cursive;
    --body-font: 'DM Sans', sans-serif;
    --heading-font-size: 24px;
    --h1-size-mobile: 32px;
    --h2-size-mobile: 24px;
    --h2-size-desktop: 64px;
    --h3-size-desktop: 48px;
    --body-size-desktop: 16px;
    --small-size-desktop: 14px;
    --border-desktop: 4px;
    --border-mobile: 2px;
    --primary-color: #FFA100;
    --primary-border: #FFA100;
    --background: #1E3544;
    --white: #FAF9F6;
    --black: #121212;
}


.withScalableLink {
    .DescriptionCardTexts {
        transition: all ease-in-out;
        transition-duration: 0.3s;
    }
    &:hover {
        .DescriptionCardTexts {
            flex-basis: 40% !important;
        }
        border-color: var(--primary-border);
    }
}

// DefenseGalleryCard
.Card.DefenseGalleryCard {
    height: 150px !important;  //remember to update .DescriptionCardTriangle bottom-border
    position: relative;
    background-color: var(--background);
    border: var(--border-desktop) solid var(--black);
    border-radius: var(--border-radius-md);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    box-shadow: 4px 8px 0 var(--black);
    @media (max-width:breakpoint(md)) {
        height:160px !important;
        box-shadow: 2px 4px 0 var(--black);
    }
}

.Card.DefenseGalleryCard > .DescriptionCardTexts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1em;
    padding-right:.5em;
    font: var(--font-dm-s);
}

.Card.DefenseGalleryCard > .DescriptionCardTexts > .DescriptionCardTitle {
    padding-left:0 !important;
    padding-right:0 !important;
    margin-top: .3em;
    margin-bottom: .3em;
    h2 {
        font:var(--font-sw-xl);
        color:var(--primary-color);
    }
    @media (max-width:breakpoint(md)) {
        h2 {
            font:var(--font-sw-l);
        }
    }
}

.Card.DefenseGalleryCard > .DescriptionCardImageSection > .DescriptionCardScaledImageContainer {
    margin-right: auto;
    position: relative;
    width: fit-content;
    display: flex;
    align-items: center;
    height: 100%;
}
.Card.DefenseGalleryCard > .DescriptionCardImageSection > .DescriptionCardCoverImageContainer {
    position: relative;
    height: 100%;
}
.Card.DefenseGalleryCard > .DescriptionCardImageSection > .DescriptionCardCoverImageContainer > .Cover {
    object-fit: cover !important;
    width: 100% !important;
    height: 100% !important;
    object-position: left !important;
}
.Card.DefenseGalleryCard > .DescriptionCardImageSection > .DescriptionCardTriangle {
    position: absolute;
    width: 0;
    height: 0;

    border-bottom: 142px solid var(--background);
    border-right: 71px solid transparent;
    @media (max-width:breakpoint(md)) {
        border-bottom: 152px solid var(--background);
        border-right: 85px solid transparent;
    }
}
// DefenseGalleryCard
.Card.DefenseGalleryCard {
    height: 150px !important;  //remember to update .DescriptionCardTriangle bottom-border
    position: relative;
    background-color: var(--background);
    border: var(--border-desktop) solid var(--black);
    border-radius: var(--border-radius-md);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    box-shadow: 4px 8px 0 var(--black);
    @media (max-width:breakpoint(md)) {
        height:160px !important;
        box-shadow: 2px 4px 0 var(--black);
    }
}

.Card.DefenseGalleryCard > .DescriptionCardTexts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1em;
    padding-right:.5em;
    font-size: .8em;
    font-family: var(--body-font);
}

.Card.DefenseGalleryCard > .DescriptionCardTexts > .DescriptionCardTitle {
    padding-left:0 !important;
    padding-right:0 !important;
    margin-top: .3em;
    margin-bottom: .3em;
    h2 {
        font-family:var(--font-family-title);
        font-weight: 400;
        font-size:var((--h1-size-mobile));
        color:var(--primary-color);
    }
    @media (max-width:breakpoint(md)) {
        h2 {
            font-size:var(--h2-size-mobile);
        }
    }
}

.Card.DefenseGalleryCard > .DescriptionCardImageSection > .DescriptionCardScaledImageContainer {
    margin-right: auto;
    position: relative;
    width: fit-content;
    display: flex;
    align-items: center;
    height: 100%;
}
.Card.DefenseGalleryCard > .DescriptionCardImageSection > .DescriptionCardCoverImageContainer {
    position: relative;
    height: 100%;
}
.Card.DefenseGalleryCard > .DescriptionCardImageSection > .DescriptionCardCoverImageContainer > .Cover {
    object-fit: cover !important;
    width: 100% !important;
    height: 100% !important;
    object-position: left !important;
}
.Card.DefenseGalleryCard > .DescriptionCardImageSection > .DescriptionCardTriangle {
    position: absolute;
    width: 0;
    height: 0;

    border-bottom: 142px solid var(--background);
    border-right: 71px solid transparent;
    @media (max-width:breakpoint(md)) {
        border-bottom: 152px solid var(--background);
        border-right: 85px solid transparent;
    }
}
//FurnitureCollectionCard
.Card.FurnitureCollectionCard {
    height: 220px !important;  //remember to update .DescriptionCardTriangle bottom-border
    position: relative;
    background-color: var(--background);
    border: var(--border-desktop) solid var(--black);
    border-radius: var(--border-radius-md);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    box-shadow: 4px 8px 0 var(--black);
    transition: border-color 0.3s ease-in-out;
    &:hover {
        border-color: var(--primary-color);
    }
    @media (max-width:breakpoint(md)) {
        height:160px !important;
        box-shadow: 2px 4px 0 var(--black);
    }
}

.Card.FurnitureCollectionCard > .DescriptionCardTexts {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: center;
    padding-left: 1em;
    padding-right:.5em;
    font-size: .8em;
    color: var(--white);
    font-family: var(--body-font);
}

.Card.FurnitureCollectionCard > .DescriptionCardTexts > .DescriptionCardTitle {
    padding-left:0 !important;
    padding-right:0 !important;

    margin-top: .3em;
    margin-bottom: .3em;
    h2 {
        font-family:var(--font-family-title);
        font-weight: 400;
        font-size:var((--h1-size-mobile));
        color:var(--primary-color);
    }
    @media (max-width:breakpoint(md)) {
        h2 {
            font-size:var(--h2-size-mobile);
        }
    }
}

.Card.FurnitureCollectionCard > .DescriptionCardImageSection > .DescriptionCardScaledImageContainer {
    margin-right: auto;
    position: relative;
    width: fit-content;
    display: flex;
    align-items: center;
    height: 100%;
}
.Card.FurnitureCollectionCard > .DescriptionCardImageSection > .DescriptionCardCoverImageContainer {
    position: relative;
    height: 100%;
}
.Card.FurnitureCollectionCard > .DescriptionCardImageSection > .DescriptionCardCoverImageContainer > .Cover {
    object-fit: cover !important;
    width: 100% !important;
    height: 100% !important;
    object-position: left !important;
}
.Card.FurnitureCollectionCard > .DescriptionCardImageSection > .DescriptionCardTriangle {
    position: absolute;
    width: 0;
    height: 0;

    border-bottom: 212px solid var(--background);
    border-right: 71px solid transparent;
    @media (max-width:breakpoint(md)) {
        border-bottom: 222px solid var(--background);
        border-right: 85px solid transparent;
    }
}

