.Wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-bottom: 40px;
}

.Container {
    flex-grow: 1 !important;
}

.ClansViewMain {
    position: relative;
    border-radius: var(--border-radius-custom);
}
