.Wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-bottom: 40px;
}

.Container {
  margin-top: 15vh;
  flex-grow: 1 !important;
}

.ClansViewMain {
  overflow: hidden !important;
  position: relative;
  overflow-y: auto;
  padding: 20px;
  border-radius: var(--border-radius-custom);
}
