@font-face {
  font-family: 'Bombing';
  //src: url('../fonts/DOCALLISME ON STREET.ttf') format('truetype');
  src: url('../../shared/assets/fonts/Bombing.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
