@import "fonts.scss";
@import "reset";
@import "variables/global.scss";
@import "themes/light";
@import "themes/dark";

body {
  //font: var(--font-m);
  font: 16px/24px 'Bombing';
  color: var(--primary-color);
  @include custom-scrollbar;
}

.app {
  min-height: 100vh;
  background: var(--bg-color);
}

//.content-page {
//  display: flex;
//}
//
//.page-wrapper {
//  flex-grow: 1;
//  //padding: 20px;
//}
