.Button {
  cursor: pointer;
  color: var(--primary-color);
  background: var(--secondary-color);
  padding: 6px 15px;


  &:focus {
    outline: none;
    border: 2px solid white;
  }

}

.clear,
.clearInverted {
  padding: 0;
  border: none;
  background: none;
  outline: none;

  &:hover {
    color: var(--secondary-color);
  }

}

.clearInverted {
  color: var(--inverted-primary-color);

  &:hover {
    color: var(--secondary-color);
  }

}

.outline {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background: none;
}

.background {
  background: var(--bg-color);
  color: var(--primary-color);
  border: none;

  &:hover {
    color: var(--secondary-color);
  }

}

.backgroundInverted {
  background: var(--inverted-bg-color);
  color: var(--inverted-primary-color);
  border: none;

  &:hover {
    color: var(--secondary-color);
  }

}

.square {
  padding: 0;
}

.square.sizeM {
  width: var(--font-line-m);
  height: var(--font-line-m);
}

.square.sizeL {
  width: var(--font-line-l);
  height: var(--font-line-l);
}

.square.sizeXL {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
}

.square.sizeXXL {
  width: var(--font-line-xxl);
  height: var(--font-line-xxl);
}

.square.sizeXXXL {
  width: var(--font-line-xxxl);
  height: var(--font-line-xxxl);
}

.sizeM {
  font: var(--font-m);
}

.sizeL {
  font: var(--font-l);
}

.sizeXL {
  font: var(--font-xl);
}

.sizeXXL {
  font: var(--font-xxl);
}

.sizeXXXL {
  font: var(--font-xxxl) !important;
}

.disabled {
  opacity: 0.5;
}

.withScalableLink{
  @include link-scale-effect;
}

.graffiti{
  background-color: rgba(197, 4, 4, 0);
  background-color: #333;
  border: none;
  border-radius: var(--border-radius-custom);
  cursor: pointer;
  outline: none;
  text-shadow: 2px 2px 0 #000;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);

  &:active {
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
  }

}

