.Footer {
  font: var(--font-xxl);
  background: var(--inverted-bg-color);
}

.title{
  padding-top: 1rem;
  text-align: center;
}

.socialSection{
  padding-top: 1rem;
}

.rights{
  padding: 1rem 0;
  text-align: center;
}


