.LeaderboardTitle {
    background-color: var(--primary-color);
    color: var(--black);
    font: var(--font-dm-m);
    border: var(--border-desktop) solid var(--black);
    border-radius: var(--border-radius-md);
    box-shadow: 4px 4px var(--black);
    text-align: center;
    padding: 0.2em;
}
