.wrapper{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.container {
  position: relative;
  //max-width: 240px;

  /*//todo play with it*/
  /*width: min(100%, 1400px);*/
  /*min-width: min(100%, 1400px);*/
  /*min-width: min-content;*/
  /*max-width: max-content;*/
}


.bgImg{
  width: 100%;
  user-select: none;
  pointer-events: none;
}


.contentWrapper{
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}



.content {
  position: relative;
  top: 50%;
  left: 5%;
  transform: translate(-12.5%, 50%);
}

.heroImgWrapper{
  display: flex;
  justify-content: center;
  border: solid 4px white;
  background: red;
  width: 100%;
  /*overflow: hidden;*/
  aspect-ratio: 16 / 8;
}

.heroImg{
  width: 50%;
  height: auto;
  transform: scale(140%);
  user-select: none;
  pointer-events: none;
}


.heroDescription{
  padding: 0 1rem;
  margin-top: 7%;
  overflow-y: auto;
  @include custom-scrollbar;
}



.LeftArrow {
  position: absolute;
  top: 50%;
  left: -5vw; /* Use viewport width for responsive positioning */
  transform: translate(-50%, -50%);
  transition: left 0.3s ease; /* Smooth transition on resize */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .LeftArrow {
    left: -10vw; /* Adjust left position for smaller screens */
  }
}





