.feedbackForm {
    background-color: var(--base-card-background);
    display: flex;
    flex-direction: column;
    max-width: 300px;
    height: 400px;
    align-items: center;
    gap: 8px;
    box-shadow: 8px 8px 1px #000000;
    border-width: 4px;
    border-style: solid;
    border-color: #000000;
}

.feedbackTitle {
    font-size: 24px;
    font-family: 'Marko One';
    font-weight: 400;
    line-height: 100%;
    color: var(--primary-color);
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.feedbackButton {
    font: var(--font-dm-m);
    font-size: 18px !important;
    color: var(--black) !important;
    text-shadow: none !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 12px;
    gap: 10px;
    width:250px;
    height: 48px;
    background: var(--primary-color) !important;
    border: 2px solid var(--drop-shadows) !important;
    border-radius: 25px !important;
    box-shadow: 2px 4px 0 var(--black) !important;
}

.inputField {
    label {
        font: var(--font-dm-m);
        font-size: 14px;
        color: var(--white);
        display: block;
    }
}

.textInput {
    font: var(--font-dm-m);
    color: var(--black);
    height: 81px;
    padding: 10px;
    border-radius: 12px;
    background: #FFFFFF;
    border: 2px solid #000000;
    box-shadow: 2px 4px 0 #121212;
    box-sizing: border-box;
    resize: none;
    vertical-align: top;
    outline: none;
}
.emojiList {
    display: inline-flex !important;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    height: 100px;
}
.linkToFormContainer {
    max-width:fit-content;
    display: inline-flex !important;
    justify-content: space-between;
    gap: 10px;
}

.linkToFormLabel {
    font: var(--font-dm-m);
    color: var(--white);
    padding: 0;
    margin: 0;
}

.linkToForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    font: var(--font-dm-m);
    color: var(--white);
}

.externalLinkIcon {
    display: inline;
    vertical-align: middle !important;
    margin-left: 5px;
    color: var(--primary-color);
}