.NavMenuWithDropdowns{
  width: 100%;

  @media (max-width: breakpoint(xl)) {
    width: 50%;
    margin: auto;
  }

  @media (max-width: breakpoint(sm)) {
    width: 80%;
    margin: auto;
  }

  .text {
    cursor: pointer;
    width: fit-content;

    &:hover {
      color: var(--secondary-color);
    }
  }
}

.topDropDown{
  padding: 10px 0;
  color: var(--primary-color);
  font-size: 40px;
  border-radius: var(--border-radius-custom);
  width: 100%;
  background-color: black;

  .topDropDownChildren{
    justify-content: center;
  }

  .topDropDownContent{
    padding-left: 15px;
    padding-right: 15px;
    font-size: 26px;
  }

}

.subDropDown{
  color: var(--inverted-primary-color);
  font-size: 24px;
  justify-self: flex-start;
  width: 100%;

  .subDropDownChildren{
    justify-content: space-between;
  }

  .subDropDownContent{
    padding-left: 15px;
    color: var(--primary-color);

    & > *:hover{
      color: var(--secondary-color);
    }

    &  a:hover{
      color: var(--secondary-color);
    }
  }
}

.topDropDownContent {
  .active {
    color: var(--secondary-color);
  }
}
