.Wrapper {

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 20px;
  //  background-color: rgba(109, 39, 39, 0.322);

  //@media (max-width: 1200px) {
  //  margin-top: 50px;
  //}

}
.mainTitle{
  font-size: 4rem;
  font-family: var(--font-family-title), serif;
  color: var(--primary-color);
  line-height: 1.5;
  margin-top: -10vh;
}
.LeftSidebar{
  margin-top: 6rem;
}
.Maincontainer{
  background-color: white !important;
}

.Container{
  flex-grow: 1;
  border-radius: var(--border-radius-custom);
  // background-color: var(--transparent-bg-dark);
  //margin-top: 10%;

  padding-bottom: 40px;

  .SocialsText {
    width: 85%;
    margin: auto;
    text-align: center;
    font-size: 1.2em;
  }


  display: flex;
  flex-direction: column;
  gap: 20px;

}
.Header{
  background-color: #1E3544;
  box-shadow: 0.3rem 0.3rem black;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
  margin-inline:0;
}

.Title {
  font-size: 2rem;
  font-family: var(--font-family-title), serif;
  color: var(--primary-color);
  line-height: 1.5;

}

.InfoText {
  margin-top: 10px;
  font-size: 1rem !important;
  display:inline;
  font: var(--font-dm-m);
  color: #faf9f6c0;
}


.galleries{
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;

}

@media (min-width: 768px) {
  .Container {
    //margin-top: 10vh;

    .SocialsText {
      width: 75%;
      font-size: 1.5em;
    }
  }

  .InfoText {
    width: 75%;
    font-size: 1.5em;
  }

}

.videoWrapper{
  padding: 0 40px;
  margin-bottom: 20px;
}

.videoWrapper>div {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  border-radius: var(--border-radius-custom);
}

.TitleBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 1rem;
}

.SearchBarDesktop {
  width: 200px;
}

.short {
  width: 17.5rem;
  @media (max-width: breakpoint(lg)){
    margin-inline: auto;
  }
  @media (max-width: breakpoint(md)){
    width: 100%;
    margin-inline: 0;
  }
}



@media (max-width: breakpoint(lg)) {
  .mainTitle{
    text-align: center;
    font-size: 3rem;
  }
  .Maincontainer{
    width: 100%;
  }

}