.Wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 20px;
}


.Container{
  flex-grow: 1;
  border-radius: var(--border-radius-custom);
  background-color: var(--transparent-bg-dark);
  margin-top: 30%;

  padding-bottom: 40px;

  h1{
    font-size: clamp(40px, 7vw, 50px);
    font-family: var(--font-family-main);
    line-height: 1.5;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
  }

  .InfoText {
    font-size: 1.2em;
    width: 85%;
    margin: auto;
    text-align: center;
  }

  .SocialsText {
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    font-size: 1.3em;
    text-align: center;
  }
}



.galleries{
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .Container {
    margin-top: 15vh;

    .InfoText {
      font-size: 1.5em;
      width: 70%;
    }

    .SocialsText {
      font-size: 1.5em;
    }
  }
}


