.Wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: 20px;
  margin-inline: auto;
  padding-inline: 20px;
  //  background-color: rgba(109, 39, 39, 0.322);

  //@media (max-width: 1200px) {
  //  margin-top: 50px;
  //}
  @media (min-width: breakpoint(md)) {
    width: 60%;
  }
}

.Container{
  flex-grow: 1;
  border-radius: var(--border-radius-custom);
  // background-color: var(--transparent-bg-dark);
  //margin-top: 10%;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

}
.Header{
  background-color: var(--base-card-background);
  box-shadow: 0.3rem 0.3rem var(--drop-shadows);
  border: 2px solid var(--drop-shadows);
  border-radius: 5px;
  margin-bottom: 2rem;
  padding: 20px;
  margin-inline:0;
}

.Title {
  font: var(--font-sw-xl);
  margin-bottom: .2em;
  color: var(--primary-color);
}

.InfoText {
  margin-top: 10px;
  display:inline;
  font: var(--font-dm-m);
  color: var(--white-text);
}

@media (min-width: breakpoint(md)) {
  .InfoText {
    width: 75%;
    font: var(--font-dm-m);
  }
}

.TitleBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  @media (max-width: breakpoint(lg)) {
    flex-direction: column;
    gap: 1rem;
  }
}

.SearchBarDesktop {
  width: 200px;
}

.short {
  width: 17.5rem;
    margin-inline: auto;
  @media (max-width: breakpoint(md)){
    width: 100%;
  }
}
