.memberRow {
  display: flex;
  width: 100%;
  justify-content: space-between;

  .memberName {
    font-weight: bold;
    text-align: end;
    flex: 2;
    min-width: 0;
    padding-right: 2rem;
    display: flex;
    justify-content: flex-end;
  }

  .taskText {
    font-weight: lighter;
    font-size: 80%;
    text-align: left;
    flex: 2;
    min-width: 0;
    display: flex;
    align-items: center;
  }

  .iconContainer {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    min-width: 0;
    @media only screen and (min-width: 760px) {
      padding-right: 2rem;
    }
  }

  .centerContainer {
    display: flex;
    flex: 2;
  }

  .clickableLogo {
    color: var(--secondary-color);
    cursor: pointer;
    @include link-scale-effect('icon');
  }

  .memberLogo {
    width: clamp(0.5rem, 3vw, 2rem);
    height: clamp(0.5rem, 3vw, 2rem);
    border-radius: 50%;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    //@include link-scale-effect('icon');
  }

  .memberLogoEnlarged {
    transform: scale(3);
    transition: transform 0.3s ease-in-out;
  }

  .Logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    @include link-scale-effect('icon');
    background-color: var(--secondary-color);
  }

  .placeholderLogo {
    width: 100%;
    height: 100%;
    opacity: 100;
    border-radius: 50%;
    @include link-scale-effect('icon');
  }
}
