.cookie-consent-v2 {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 780px;
    padding: 24px;
    background: var(--background);
    border-radius: var(--border-radius-lg);
    font-family: var(--body-font);
    line-height: 1.6;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: var(--l);
}

.cookie-consent-content-text {
    font-size: 18px;
    color: white;
    line-height: auto;
    font-weight: 400;
    letter-spacing: -0.04em;
    text-align: center;
    vertical-align: middle;
    font-family: 'DM Sans', sans-serif;
    width: 432px;
    height: auto;
    opacity: 1;
    border-radius: 0px;
}
.cookie-consent-v2 h1 {
    margin: 0 0 20px 0;
    color: var(--primary-color);
    font-family: var(--heading-font);
    line-height: auto;
}

.cookie-consent-buttons {
    display: flex;
    gap: 15px;
    margin-top: 25px;
}

.cookie-consent-buttons button:first-child {
    background: #2c3e50;
    color: var(--primary-color);
    border: none;
    padding: 12px 24px;
    border-radius: var(--border-radius-xl);
    font-weight: 600;
    stroke: var(--background);
    box-shadow: var(--s);
}
.cookie-consent-buttons button:last-child {
    background: #ffa100;
    color: #000000;
    border: none;
    padding: 12px 24px;
    border-radius: var(--border-radius-xl);
    font-weight: 600;
    stroke: var(--primary-color);
    box-shadow: var(--s);
}

.cookie-consent-buttons button:hover {
    opacity: 0.9;
    transform: scale(1.05);
    transition: all 0.2s ease;
}

.cookie-consent-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.cookie-text {
    flex: 1;
}

.cookie-image {
    width: 236px;
    max-width: 236px;
    height: auto;
}

.highlight {
    color: var(--primary-color);
}

@media (max-width: 480px) {
    .cookie-consent-v2 {
        width: 333px;
        min-width: 333px;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
        padding: 0;
    }

    .cookie-consent-buttons {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;
    }
    .cookie-consent-v2 h1 {
        font-size: 20px;
    }

    .cookie-consent-buttons button {
        width: 100%;
    }

    .cookie-consent-buttons button:last-child {
        order: -1;
    }

    .cookie-consent-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 333px;
        height: auto;
    }

    .cookie-consent-content-text {
        font-size: 14px;
        margin-bottom: 12px;
        gap: 16px;
        width: 301px;
    }

    .cookie-image {
        width: 164px;
        max-width: 164px;
        height: auto;
        margin: 0 auto 20px auto;
        order: -1;
    }
}
