
.backgroundImageWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -3;
    filter: brightness(75%);
}

.HeroContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Content {
    width: 80%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 100vh;
    
}

.LeftArrow {  
    width: 7%;
    height: auto; 
    cursor: pointer;
    z-index: 2;
    margin-top: 10%;
}

.RightArrow {

    width: 7%;
    height: auto; 
    cursor: pointer;
    z-index: 2;
    margin-top: 10%;
}

.InfoBgImg {
    position: absolute;
    top: 0;
    right: 0;
    left: 45%;
    bottom: 0;
    max-height: 95vh; 
    width: 43%; 
    height: auto; 
    z-index: -1;
}


.InfoImg{
    width: 40%;
    height: auto;
}

.HeroImg {
    position: absolute;
    top: 50%; 
    left: 15%; 
    transform: translateY(-50%); 
    width: auto;
    max-width: 35%;
    height: 70vh;
    z-index: -2; 
    margin-top: 5%;

}


.HeroInfoDiv {
    width: 86%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: start;
    height: 100vh;
}

.HeroInfoMain{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 43%;
    margin-top: 5%;
    margin-right: 7%;

    p{
        padding: 5%;
        margin-top: 2%;
        text-align: justify;
    }
}

.HeroInfoHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 45%;
    margin-top: 14%;
    margin-right: 7%;

    h2{
        font-size: x-large;
        color: yellow;
        width: 100%;
        text-align: center;
        padding: 1%;
    }

    hr{
        width: 30%;
        border: 2px solid yellow;
    }
}



.XButton{
    font-size: 1.5em;
    text-align: end;
    color: yellow;
    width: 100%;
    margin-top: 1.5%;
    cursor:pointer;
    //@include font-size-increase(1.5);         Does not work 
    margin-right: 6%;

}

@media (max-width: 1700px){
    .HeroInfoHeader {
        margin-top: 18%;
    }
    .XButton{
        margin-right: 3%;
    }
}

@media (max-width:1250px){
    .HeroImg { 
        height: 50vh;
    }
    .InfoBgImg {    
        top: 5%;
    }
    .HeroInfoHeader {
        margin-top: 22%;
    }
}

@media (max-width:1100px){
    .InfoBgImg {    
        top: 8%;
    }
    .HeroInfoHeader {
        margin-top: 26%;
    }
}

@media (max-width:1000px){
    .HeroImg {   
        height: 40vh;  
    }
}

@media (max-width:950px){
    .InfoBgImg {    
        top: 10%;
    }
    .HeroInfoHeader {
        margin-top: 30%;
    }
}


@media (max-width:900px){
    .HeroImg {
        height: 35vh; 
    }
    .InfoBgImg {    
        top: 13%;
    }
    .HeroInfoHeader {
        margin-top: 35%;
    }
}

@media (max-width: 825px){
    .InfoBgImg {    
        top: 15%;
    }
    .HeroInfoHeader {
        margin-top: 40%;
    }
}
@media (max-width: 768px){
    .InfoBgImg {
        top: 10%;
        left: 21%;
        width: 65%; 
    }

    .HeroInfoHeader {
        width: 80%;
        margin-top: 45%;
        margin-right: 10%;
    }

    .XButton{
        margin-top: 0%;
        margin-right: 8%
    }

    .HeroInfoMain{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin-top: 5%;
        margin-right: 9%;
    
        p{
            padding: 5%;
            margin-top: 2%;
            text-align: justify;
        }
    }

   
}


@media (max-width: 600px){
    .InfoBgImg {    
        top: 15%;
    }
    .HeroInfoHeader {
        margin-top: 57%;
    }
}

@media (max-width: 560px){
    .InfoBgImg {    
        top: 20%;
    }
    .HeroInfoHeader {
        margin-top: 70%;
        h2{
            font-size:larger;
        }
    }
}

@media (max-width: 530px){
    .InfoBgImg {    
        top: 20%;
    }
    .HeroInfoHeader {
        margin-top: 75%;
        h2{
            font-size:larger;
        }
    }
}

@media (max-width: 500px){
    .InfoBgImg {    
        top: 22%;
    }
    .HeroInfoHeader {
        margin-top: 80%;
        h2{
            font-size:larger;
        }
    }
}

@media (max-width: 480px){
    .InfoBgImg {    
        top: 22%;
    }
    .HeroInfoHeader {
        margin-top: 82%;
        h2{
            font-size:larger;
        }
    }
}

@media (max-width: 460px){
    .InfoBgImg {    
        top: 25%;
    }
    .HeroInfoHeader {
        margin-top: 95%;
        h2{
            font-size:large;
        }
    }
}
@media (max-width: 430px){
    .InfoBgImg {    
        top: 25%;
    }
    .HeroInfoHeader {
        margin-top: 97%;
        h2{
            font-size:large;
        }
    }
}

