.Container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.DesktopCardContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
}   

.NavMenu {
    margin-top: 7em;
}

.TitleSearchBarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.PageTitle {
    @media (min-width: calc(breakpoint(lg) + 32px)) {
        margin-bottom: 0;
    }
}

.SearchBarDesktop {
    max-width: 300px;
}

.SearchBar {
    display: flex;
    height: 20px;
    justify-content: left;
    color:var(--primary-color);
    border: 2px solid var(--black);
    box-shadow: var(--black) 4px 4px 0;
    border-radius: 1.5em;
    background: var(--base-card-background);
    align-items: center;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.Input{
    color: var(--primary-color);
    padding-left: 1em;
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
}