.container {
  padding: 0;
  padding-left: 10em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-bottom: 3em;
}
.title {
  font: var(--font-sw-xl);
  margin-bottom: .2em;
  padding-left: 200px;
  color: var(--primary-color);
}
