.sidebar{
  padding-top: 12%;
}

.Navbar {
  font: var(--font-xxl);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.7);
  height: 10vh;
  margin: 6% auto 0;
  position: fixed;
  z-index: var(--navbar-z-index);
}




.NavbarMobile__burger {
  width: auto;
  height: 80%;
  left: 20px;
  cursor: pointer;
  user-select: none;
  transform: scale(80%);
}

.NavbarMobile__burger svg {
  width: auto;
  height: 100%;
}

.NavbarMobile__center {
  margin-left: auto!important;
  margin-right: auto!important;
}

.navLogo {
  img {
    height: var(--navbar-logo-height);
    width: auto;
  }
}

.overlayed {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.authSection {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: var(--border-radius-custom);
  box-shadow: 0 0 0 2px var(--inverted-primary-color);
  padding: 5px;
  text-align: center;
  font-family: var(--font-family-texts), serif !important;
  font: var(--font-l);
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--secondary-color) !important;

  &{
    .authSectionLink{
      color: var(--secondary-color) !important;
    }
  }

}

.sidebarBottom {
  display: flex;
  gap: 10px;
}

.langSwitcher {
  border-radius: var(--border-radius-custom);
  outline: 2px solid var(--inverted-primary-color);
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--secondary-color) !important;
  font-size: var(--font-size-m) !important;
}

@media (max-width: 800px){
  .NavbarMobile{
    height: 7vh;
  }
}
