.main{
    min-height: 100vh;
    padding-top: 18vh;
}

.MainGameArt {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;

    //margin-top: 10%;
    margin-left: 10%;
    position: relative;
    h1{
        font-size: 3rem;
    }
}

.wholePageBG{
    filter: brightness(85%);
}

.RowTextImg {
    display: flex;
    flex-direction: row ;
    width: 100%;
    align-items: center;
    justify-content: start;
    
}

.RowText{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.RowImg{
    width: 30%;
    margin-left: 5%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1{
        font-size: 3rem;
    }
}

@media (max-width: 1150px) {
    .MainGameArt{
        width: 90%;
        //margin-top: 20%;
        margin-left: 5%;
        
    }
    .RowTextImg{
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
    }
    .RowText{
        width: 100%;
    }
    .RowImg{
        width: 60%;
        margin-left: 0%;
    }


}