.pageContainer {
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent {
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-content: center;
  flex-direction: row;
  top: 1rem;
  width: 90%;
  height: 90vh;
  border: 1px solid rgb(0, 255, 21);
  border-radius: 10px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  margin-bottom: 5%;
}

.pageLogo {
  margin-top: 60px;
  margin-left: 100px;
  width: 20%;
  height: 10%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbarSide {
  position: relative;
  margin-top: 200px;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  left: 0;
  overflow-y: auto;
  font-size: 1.6em;
  &::-webkit-scrollbar {
    display: none;
  }

  ul {
    list-style: none;
  }

  li {
    margin-top: 10px;
    cursor: pointer;
    padding: 10px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  width: 70%;
  max-height: 100vh;
  align-items: center;
  overflow-y: auto;
  padding: 20px;

  padding-left: 5%;
  padding-right: 5%;
  @include custom-scrollbar;
  font-size: 1.4em;
  margin: 3px;
}

.section {
  margin: 5%;
  padding: 5%;
  background-color: orange;
  border-radius: 10px;

  h2 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 2em;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 0.2em;
    background-color: rgb(13, 174, 13);
    margin-bottom: 5%;
  }
}

.content.isMobile {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  overflow-y: auto;
  padding: 20px;
  font-size: 1.4em;
  margin: 3px;
  &::-webkit-scrollbar {
    display: none;
  }
}

.mainContent.isMobile {
  top: 4rem;
}
