.Arrow {
  display: inline-block;
  position: absolute;
  top: 45%;
  color: var(--secondary-color);
  font-weight :bolder;
  font-size:1.5em;
  right: 0;
  cursor: pointer;
}
.Text {
  white-space: nowrap;
  font-weight: bold;
}
.Hero {
  padding-left: 1em;
  cursor: pointer;
}
.Box {
  padding: .5em;
  position: relative;
  border: 2px solid var(--inverted-secondary-color);
  border-radius: 1em;
  background: black;
}