.blurLine {
  position: absolute;
  bottom: 40%;
  left: 50%;
  transform: translate(-50%, -70%);
  width: 120vw;
  height: 124px;
  filter: blur(30px);
  background: #080a0b;
  pointer-events: none;
}