.Arrow {
  display: inline-block;
  position: absolute;
  top: 45%;
  color: var(--secondary-color);
  font-weight :bolder;
  font-size:1em;
  right: .5em;
  cursor: pointer;
}
.Text {
  padding: 1em;
  overflow:hidden;
  white-space: nowrap;
  opacity: 100%;
  border: 2px solid var(--inverted-secondary-color);
  border-radius: 1em;
  transition: opacity 0.3s ease-out;
  &.Hidden {
    opacity:0;
  }
}
.Hero {
  padding-left: 1em;
  cursor: pointer;
  &.Hidden {
    cursor: default;
  }
}
.SelectedHero {
  color: var(--secondary-color);
  padding-left: 1em;
  cursor: pointer;
  &.Hidden {
    cursor: default;
  }
}
.Root {
  font-family:Georgia, Times New Roman, serif;
  font-size: 1.3em;
  width: 100%;
  position: relative;
  background: black;
  transition: width 0.3s ease-out;
  &.Hidden {
    width:0;
  }
}
.Group {
  color:var(--inverted-primary-color)
}