.WorkersSection{
  font-family: var(--font-family-texts);
  text-align: center;
}

.scrollBottomButton{
  margin-bottom: 20px;
}

.groupComponent{
  h2{
    font-size: 40px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
}

.workmanComponent{
  margin-bottom: 10px;
 .githubLogo{
   img{
     cursor: pointer;
     @include link-scale-effect;
   }
   display: flex;
   justify-content: center;
   align-items: center;
 }
}