.ClickableBorder {
    width: auto;
    height: auto;

    --paddingMultiplier: 0.07;
    --padding: calc(var(--paddingMultiplier) * var(--cardWidthLocal));
    padding: calc(var(--padding) * var(--paddingBasedOnAspectRatio)) var(--padding) calc(var(--padding) * var(--paddingBasedOnAspectRatio));
}
