.GetToKnow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  padding: 0;

  /* background: #01003c; */

  @media screen and (max-width: 480px) {
    height: auto;
    padding: 20px;
  }
}

.backgroundImageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: brightness(80%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.centeredImage {
  //z-index: 20;
  width: 60vw;
  min-width: 350px;
  height: auto;
  object-fit: contain;
  margin-top: 1%;
}

@media screen and (max-width: 480px) {
  .centeredImage {
    width: 80% !important;
    min-width: unset;
  }
}

.button {
  //z-index: 20;
  background-color: rgba(0, 0, 0, 0.7);   
  padding: 20px;
  margin-top: 3%;

  @media screen and (max-width: 480px) {
    padding: 15px;
    font-size: 14px;
    margin-top: 5%;
  }
}


