.AppLink {
    color: var(--white);
    padding: 0;
    margin: 0;
    font-size: 0.9em;

    &:hover {
        color: var(--primary-color-variant-hover);
    }
}

.primary {
    color: var(--white);
}

.secondary {
    color: var(--secondary-color);
}

.red {
    color: red;
}
