.AppLink {
  color: var(--primary-color);
  padding: 0;
  margin: 0;

  text-decoration: none;

  &:hover{
    color: var(--secondary-color)
  }

}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--inverted-primary-color);
}

.red {
  color: red;
}
