.lessonList {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.lessonListHeader {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  margin-bottom: 2rem;
    h2 {
        font: var(--font-sw-xxxl);
        color:var(--primary-color);
    }
    @media (max-width:breakpoint(md)) {
        h2 {
            font: var(--font-sw-xl);
        }
    }
    span {
      font: var(--font-dm-bold-l);
      color: var(--neutral);
    }
}
