.lessonTitleInput {
    background-color: transparent;
    width: 100%;
    border-radius: 0.5em;
    border: 2px solid var(--black);
    color: var(--white);
    padding: 0.5em;
    font-family: var(--font-family-title);
    font-size: var(--font-size-l);
    margin-bottom: 0.5em;
}

.numStudentsInput {
    background-color: var(--background);
    width: fit-content;
    border-radius: 0.5em;
    margin-bottom: 1.5em;
    color: var(--white);
    padding: 2px 0 2px 0.5em;
    border: 2px solid var(--black);
    margin: 0;
}
