.Image {
    width: 95%;
    padding: 10px;
    margin: auto;
}

.MasonryGrid {
    display: flex;
    width: auto;
}

.MasonryGridColumn {
    background-clip: padding-box;
    margin-bottom: 20px;
}

.MasonryGridColumn > div {
    margin-bottom: 20px;
}
