.MembersSection{
  font-family: var(--font-family-texts);
  min-height: 100% !important;
  text-align: center;
}

.scrollBottomButton{
  margin-bottom: 20px;
}

.groupComponent{
  h2{
    font-size: 30px;
    line-height: 1.5;
    //margin-bottom: 20px;
  }
}

.workmanComponent{
  padding-bottom: 10px;
 .githubLogo{
   img{
     cursor: pointer;
     @include link-scale-effect;
   }
   display: flex;
   justify-content: center;
   align-items: center;
 }

  //&:last-child{
  //  margin-bottom: -1px;
  //  padding: 0;
  //}
}

