.ClanTable {
  overflow-y: auto;

  width: 100%;
  border-collapse: collapse;


  th,
  td {
    padding: 0px 10px;
    border-bottom: 1px solid rgba(255, 0, 0, 0.11);
  }


  th {
    background-color: rgb(100, 84, 66);
    text-align: left;
  }

  tr:hover {
    cursor: pointer;

    &:hover {
      //@include link-scale-effect;
      background-color: rgba(203, 15, 15, 0.47) !important;
    }
  }

  tr {
    height: 40px;
  }


}

.ClanCard {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: var(--border-radius-custom);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  div {
    cursor: pointer;
    margin-bottom: 8px;
  }
}


.Loader {
  @include position-absolute-center
}

.Buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin-top: 5%;
}



.BtnGame {
  background-color: var(--inverted-bg-color) !important;


  //line height: ;
  font-size: 1em !important;
  white-space: nowrap;
  min-width: fit-content;
  //border: solid 1px var(--primary-color);
}

.skeletonLoader {
 align-items: start;
 width: 200%;
 margin-top: 150px;
 
}