.ClanCard {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  cursor: pointer;
  outline: none;

  &:focus {
    box-shadow: 0 0 0 2px var(--accent-600);
  }
}

.Loader {
  @include position-absolute-center;
}

.Buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin-top: 5%;
}

.titleText {
  font: var(--font-dm-bold-xl);
  text-align: center;
  margin-bottom: 20px;
}

.notFound {
  text-align: left;
}

.BtnGame {
  background-color: var(--black) !important;


  //line height: ;
  font: var(--font-dm-m) !important;
  white-space: nowrap;
  min-width: fit-content;
  //border: solid 1px var(--primary-color);
}

.Container {
  margin-right: 3em;
  margin-left: 0;
  @media (max-width: 1023px) {
    margin-left: auto;
    margin-right: auto;
  }
}

/* Page grid for listing clan cards */
.DesktopCardContainer {
  display: flex;
  padding-top: 1em;
  justify-content: left;
  flex-wrap: wrap;
  gap: 1em;
}

.MobileCardContainer {
  display: flex;
  gap: .5em;
  flex-wrap: wrap;
  justify-content: left;
  margin-top: .5em;
}
