.ClanCard {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  cursor: pointer;
  outline: none;

  &:focus {
    box-shadow: 0 0 0 2px var(--accent-600);
  }
}

.Container {
  padding: 0 16px;
  max-width: var(--content-width);
  margin: 0 auto;
}

.Loader {
  @include position-absolute-center;
}

.Buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin-top: 5%;
}

.titleText {
  font: var(--font-dm-bold-xl);
  text-align: center;
  margin-bottom: 20px;
}

.notFound {
  text-align: left;
}

.BtnGame {
  background-color: var(--black) !important;


  //line height: ;
  font: var(--font-dm-m) !important;
  white-space: nowrap;
  min-width: fit-content;
  //border: solid 1px var(--primary-color);
}

.TitleBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}

.SearchBar {
  display: flex;
  height: 20px;
  justify-content: left;
  color: var(--primary-color);
  border: 2px solid var(--black);
  box-shadow: var(--black) 4px 4px 0;
  border-radius: 1.5em;
  background: var(--base-card-background);
  align-items: center;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  font: var(--font-dm-m);
}

.Input {
  color: var(--primary-color);
  padding-left: 1em;
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
}

.SearchBarDesktop {
  width: 200px;
}

.SearchBarMobile {
  width: 280px;
  max-width: 90%;
  margin: 0.5rem auto 1rem;
}

.SearchBarTablet {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}


main :where(.SearchBarDesktop, .SearchBarMobile) {
  overflow: visible;
}

/* Page grid for listing clan cards */
.DesktopCardContainer {
  display: flex;
  padding-top: 1em;
  justify-content: left;
  flex-wrap: wrap;
  gap: 1em;
}

.MobileCardContainer {
  display: flex;
  gap: .5em;
  flex-wrap: wrap;
  justify-content: left;
  margin-top: .5em;
}
