.CardsContainer {
  width: 100%;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  min-height: 100%;
  justify-content: center;
  padding: 0 20px;
  @media (max-width: breakpoint(sm)){
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

}