.SideButton{
  //width: fit-content;
  height: fit-content;
  min-height: 100px;
  position: fixed;
  bottom: 50%;
  writing-mode: vertical-lr;
  right: 10px;
  background-color: var(--inverted-bg-color);
  z-index: var(--sideButton-z-index);
  font-family: var(--font-family-texts);
  line-height: 1;
  //font-family: "Tahoma ", serif;
  transform: rotate(180deg);
  padding: 12px;
  //transition: transform 0.2s ease;

  @include link-scale-effect;
  &:hover{
    transform: scale(var(--animation-link-hover-scale)) rotate(180deg);
  }

  &:active{
    transform: scale(var(--animation-link-active-scale)) rotate(180deg);
  }

}


