.SideButton{
  //width: fit-content;


  height: fit-content;
  min-height: 100px;
  position: fixed;
  bottom: 50%;


  -webkit-writing-mode: vertical-lr;
  writing-mode: vertical-lr;



  right: 10px;
  background-color: var(--inverted-bg-color)!important;
  z-index: var(--sideButton-z-index) !important;
  font-family: var(--font-family-texts) !important;
  line-height: 1 !important;
  transform: rotate(180deg);
  padding: 12px !important;


}
.FeedbackCardContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 330px !important;
  height: 325px !important;

  position: fixed;
  bottom: 50%;
  right: calc(10px + 60px);

  z-index: calc(var(--sideButton-z-index) + 1);
}

.feedbackForm.hidden {
  display: none;
}



