.Container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media (min-width: breakpoint(sm)) {
  .Container {
    max-width: 640px;
  }
}

@media (min-width: breakpoint(md)) {
  .Container {
    max-width: 960px;
  }
}

@media (min-width: breakpoint(lg)) {
  .Container {
    max-width: 1200px;
  }
}

@media (min-width: breakpoint(xl)) {
  .Container {
    max-width: 1400px;
  }
}

.fluid {
  //max-width: 100%!important;
  max-width: 1900px;

  padding-left: 15px!important;
  padding-right: 15px!important;
}
