/* Base styles */
.layoutContainer {
    display: flex;
    height: 100vh;
    max-width: 1400px;
    margin: 0 auto;
}

.headerSidebarContainer {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 0.5rem;
}

.header {
    flex-shrink: 0;
    padding: 1rem;
    text-align: center;
}

/* Sidebar styles */
.sidebar {
    flex: 1;
    padding: 1rem;
    display: none;
}

.content {
    flex: 1;
    padding: 1rem;
    margin: 0.5rem;
    max-width: 75%;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Desktop */
@media (min-width: breakpoint(lg)) {
    .sidebar {
        display: block;
        /* Visible on desktop */
    }

    .header {
        text-align: left;
        padding: 1rem 2rem;
        margin-bottom: 1rem;
    }

    .mobileNav {
        display: none;
    }
}

@media (max-width: breakpoint(lg)) {
    .layoutContainer {
        flex-direction: column;
    }

    .headerSidebarContainer {
        width: 100%;
        margin: 0;
    }

    .header {
        text-align: center;
        height: 50px;
        padding: 0.5rem;
    }

    .mobileNav {
        display: contents;
        /* Visible on mobile */
        margin-top: 0.5rem;
        height: 50px;
    }

    .sidebar {
        display: none;
        /* Hidden on mobile */
    }

    .content {
        margin: 0rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}