.container {
  overflow: visible;
}

.sidebar {
  padding: 0 16px;
}

.content {
  flex: 1 1 auto;
  box-sizing: border-box;
  width: 100%;
  max-width: unset;
  overflow: visible;
  overflow-x: hidden;
  padding: 0 16px;
  margin: 0 auto;
}

.mobileNav {
  display: block;
  margin: 0.5rem auto 0;
  width: 100%;
  padding: 0 16px;
}

@media (min-width: breakpoint(lg)) {
  .mobileNav { display: none; }
}
