// WallIntroAnimation.module.scss
.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
  overflow: hidden;
}

.wallLeft,
.wallRight {
  width: 50%;
  height: 100%;
  background: #333;
  position: relative;
  transform: translateX(0);
  transition: transform 1s ease;
}

.wallLeft {
  transform-origin: left;
}

.wallRight {
  transform-origin: right;
}

.loader.loaded .wallLeft {
  transform: translateX(-100%);
}

.loader.loaded .wallRight {
  transform: translateX(100%);
}

.content {
  opacity: 0;
  transition: opacity 1s ease;
  position: relative;
  z-index: 0;
}

.wrapper .loader.loaded + .content {
  opacity: 1;
}
