.MembersPage{
  background-image: url("./src/shared/assets/images/colored-portal-pictures-1.jpg");
  background-color: rgba(39, 197, 4, 0.36);
}



.backgroundOpacity{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  pointer-events: none;
}

.workersSection{
  padding-top: 240px;
  z-index: 1;
  background: linear-gradient(to right, rgba(142, 197, 4, 0.53), rgba(164, 42, 204, 0.87), rgba(41, 210, 3, 0.44));
}

.navbar{
  padding-top: 20px;
  width: 100%!important;
  z-index: 1;
}