.ToggleCollapseButton {r
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    height: 30px;
    width: 40px;
    padding: 3px;
    cursor: pointer;
}

.buttonImage {
    display: block;
    filter: brightness(0) saturate(100%) invert(68%) sepia(49%) saturate(1026%) hue-rotate(359deg)
        brightness(101%) contrast(106%);
}
