.Wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-bottom: 20px;
}

.Navbar{
  padding-top: 20px;
}


.Container{
  margin-top: 40px;
  padding-bottom: 40px;

  flex-grow: 1;
  border-radius: 20px;
  background-color: var(--bg-color-opacity-section);


  h1{
    font-size: clamp(40px, 7vw, 50px);
    font-family: var(--font-family-main);
    line-height: 1.5;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
  }

}


.galleries{
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}


