.Navbar {
  font: var(--font-xxl);
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1000px;
}

.NavbarTouch{
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr 1fr;
}


.NavbarTouch__burger {
  align-self: start;
  cursor: pointer;
  user-select: none;
  z-index: var(--navbar-z-index);

  &.left{
    grid-column: 1;
  }

  &.right{
    grid-column: 3;
    justify-self: end;
  }

}

.NavbarTouch__center{
  justify-self: center;
  grid-column: 2;
}

.navLogo {
  height: var(--navbar-logo-height);
}

.overlayed {
  background-color: rgba(4, 255, 4, 0);
  z-index: var(--navbar-z-index);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

