.SectionPlayWithUs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
}

.Buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 60%;
  padding: 5%;
}

.MediaLinks{
  display: flex;
  width: auto;
  gap: 20px;
}

.BtnGame {
  background-color: var(--inverted-bg-color);
  padding: 20px;
  //border: solid 1px var(--primary-color);
}

.backgroundImageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: brightness(85%);
}

.BtnDownload {
  border-radius: 20px;
  transition: all 0.3s ease;
}

.BtnDownload:hover {
  transform: scale(1.05);
}

.Content{
  display: flex;
  flex-direction: row;
  width: 75%;
}

.EinsteinImage {
  width: 30%;
}