.Layout{
  margin-top: 150px;
  margin-bottom: 120px;
  min-height: 60vh;

  background-color: var(--transparent-bg-dark);
  border-radius: var(--border-radius-custom);


  h1 {
    font-size: clamp(40px, 7vw, 50px);
    line-height: 1.5;
  }

  h3 {
    font-size: clamp(20px, 5vw, 30px);
    line-height: 1.25;
  }

  padding-bottom: 10px;
  text-align: center;

}