.Layout{
  margin-top: 150px;
  margin-bottom: 120px;
  min-height: 60vh;

  background-color: var(--transparent-bg-dark);
  border-radius: var(--border-radius-custom);


  h1 {
    font: var(--font-dm-xxxl);
    line-height: 1.5;
  }

  h3 {
    font: var(--font-dm-l);
    line-height: 1.25;
  }

  padding-bottom: 10px;
  text-align: center;

  @media (max-width: breakpoint(md)) {

    h1 {
      font: var(--font-dm-xxl);
    }

    h3 {
      font: var(--font-dm-l);
    }
  }

    @media (max-width: 450px) {

    h1 {
      font: var(--font-dm-xl);
    }

    h3 {
      font: var(--font-dm-m);
    }
  }
}