.NavElement {
  @include link-scale-effect;
  //border: solid 1px var(--primary-color);
  border-radius: var(--border-radius-custom);
  hyphens: auto;
  padding: 10px;

  background-color: var(--transparent-bg-darker); 

  p,
  a {
    padding: 0;
    text-align: center;
    margin: 0 !important;
    margin-top: 1rem !important;
    font: var(--font-dm-m);
  }

  h3 {
    font: var(--font-xl);
    margin-bottom: 1rem;
  }

  min-width: 200px;

}

@media (max-width: 1150px) {
  .NavElement {
    min-width: 320px;

    //width: 55% !important;
  }

  //align-items: center;
}