.NewsCard {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    background-color: var(--base-card-background);
    border: 3px solid var(--drop-shadows);
    border-radius: var(--border-radius-figmadesktop);
    filter: drop-shadow(8px 12px var(--drop-shadows));
    height: 150px;
    width: 100%;
    max-width: 780px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;

    @media (max-width: breakpoint(xl)) {
        max-width: 500px;
    }

    @media (max-width: breakpoint(md)) {
        height: 130px;
        width: 70%;
    }

    @media (max-width: breakpoint(sm)) {
        height: 120px;
        width: 80%;
    }

    @media (max-width: breakpoint(xs)),
    (max-width: 320px) {
        height: 110px;
        width: 70%;
        margin: auto 0;
    }

    @media (max-width: 320px) {
        width: 60%;
    }
}


.NewsCardLink:hover .NewsCard, .NewsCardLink:focus .NewsCard {
    border-color: var(--primary-color);
}


.imageContainer {
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    width: 72%;
    height: auto;
    flex-shrink: 0;
    border-radius: 10px;

    @media (max-width: breakpoint(xs)) {
        width: 90%;
    }
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: 32%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%, 0 -15%);
    transform: translateY(-27%);

    @media (max-width: breakpoint(xs)),
    (max-width: 320px) {
        margin-left: 35%;
    }
}

.NewsCardLink {
    width: 100%;
    display: flex;
    justify-content: center;

    &:focus {
        outline: none;
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 0.5rem 50% 0 0.5rem;
    overflow: hidden;
}

.title {
    font: var(--font-sw-l);
    color: var(--primary-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (max-width: breakpoint(sm)),
    (max-width: breakpoint(xs)),
    (max-width: 320px) {
        padding-top: 10px;
    }
}

.text {
    color: var(--white);
    line-height: 1.5em !important;
    font: var(--font-dm-s);
    width: 255px;
    margin-top: auto;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

    @media (max-width: breakpoint(md)) {
        line-height: 1rem !important;
        font: var(--font-dm-s);
    }

    @media (max-width: breakpoint(sm)) {
        font: var(--font-dm-s);
        width: 200px;
    }

    @media (max-width: 390px) {
        display: none;
    }
}

.date {
    color: var(--white) !important;
    font: var(--font-dm-s);
    margin-top: auto;
    margin-bottom: 5px;

    @media (max-width: breakpoint(xs)) {
        font: var(--font-dm-xs);
    }
}