/* Base styles */
.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #462cdb;
    padding: 1rem;
    text-align: center;
    margin: 1rem;
    width: 25%;
}

.header h1 {
    margin: 0;
}

.mobile-nav {
    display: none;
    /* Hidden on desktop */
}

.main-content {
    display: flex;
    flex: 1;
    gap: 1rem;
}

/* Sidebar styles */
.sidebar {
    width: 25%;
    background-color: #157c26;
    padding: 1rem;
    display: none;
    /* Hidden on mobile */
    margin-left: 1rem;
    margin-top: 1rem;
}

.content {
    background-color: brown;
    flex: 1;
    padding: 1rem;
    margin: 1rem;
}

/* Responsive styles */
@media (min-width: 768px) {
    .header {
        text-align: left;
        padding: 1rem 2rem;
    }

    .mobile-nav {
        display: none;
        /* Always hidden on desktop */
    }

    .sidebar {
        display: block;
        /* Visible on desktop */
    }
}

@media (max-width: 767px) {
    .mobile-nav {
        display: block;
        /* Visible on mobile */
        margin-top: 0.5rem;
    }

    .main-content {
        flex-direction: column;
    }

    .sidebar {
        display: none;
        /* Hidden on mobile */
    }
}