.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure this is higher than other elements */
  opacity: 85%;
  border: 2px solid red;
}

.popupContent {
  bottom: 20%;
  position: relative;
  width: 100%;
  height: auto;
  padding: 20px;
  border: 2px solid red;
}
