.shareButton {
    background-color: #1e3544;
    color: #ffa100;
    border: 2px solid transparent;
    border-radius: 6px;
    padding: 8px 12px;
    gap: 10px;
    margin-bottom: 15px;

    cursor: pointer;
    transition: border-color 0.1s ease-in-out;
    display: inline-flex;
    align-items: center;
    line-height: 1;
}

.shareButton:hover {
    border-color: #ffa100;
}
