.HeroSection {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat(6, auto);
}

.childrenWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-start: 4;
  grid-row-start: 4;
}

@media (max-height: 500px) {
  .childrenWrapper {

    margin: 250px 0 50px;

    grid-row-start: 6;
  }
}


