.Sidebar {
  height: 100vh;
  width: var(--sidebar-width);
  background: rgba(0, 0, 0, 0.65);
  position: fixed;
  top: 0;
  overflow-y: auto;
  transition: width 0.4s ease-in-out, background-color 0.4s ease-in-out;
  @include custom-scrollbar;

  &.left{
    left: 0;
  }

  &.right{
    right: 0;
  }
}

//.side

.button{
  width: 33px;
}

.items {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
  opacity: 0;
  transition: width 0.4s ease-out, opacity 0.4s ease-out;
}

.expanded {
  width: var(--sidebar-width);
  opacity: 1;
  transition: width 0.4s ease-in, opacity 0.4s ease-in;
}




// todo animation for button when collapsing
//.button{
//  transition: transform 0.2s ease-in-out;
//}
//.collapsedButton{
//  transform: rotate(0deg);
//}
//
//.expandedButton{
//  transform: rotate(180deg);
//}
