.Wrapper{
  //min-height: 100vh;
}

.Navbar{
  padding-top: 20px;
}


.Container{
  font-family: var(--font-family-texts) !important;
}

.ClansViewMain{

  position: relative;

  //min-height: 57vh;
  min-height: 57vh;
  height: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.53);
  border-radius: 8px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);

  @media (min-width: 768px) {
    @include custom-scrollbar;
    height: 70vh;
    overflow-y: auto;
  }


}

@media (max-width: 768px) {

  .Container {
    padding: 20px;
  }

}














