.emojiListContainer {
    position: relative;
    display: inline-block;
    height: 100px;
}

.emojiList {
    display: flex;
    gap: 5px; 
    justify-content: center;
    display: inline-flex !important;
}

.selectedEmoji {
    transition: 0.1s;
    transform: scale(1.2);
    outline: 3px solid #ffa101;
    border-radius: 25px;
    outline-offset: -4px;
    box-shadow: 0px 1px 7px 1px rgba($color: #c5a804cc, $alpha: 1);
    cursor: pointer;

}

.Emoji:hover {
    transform: scale(1.05);
    cursor: pointer;
    border-radius: 25px;
    outline-offset: -4px;
}

.ratingLabel {
    position: absolute;
    top: 60px; 
    margin: 0;
    background-color: #ffa101;
    color: white;
    border: 1px solid black;
    border-radius: 12px;
    height: 25px;
    width: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    white-space: nowrap;
}

.ratingLabel::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #ffa101;
}

.ratingText {
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: black !important;
}