.emojiListContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90px;
}

.emojiWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    width: 58px;
}

.emojiList {
    display: inline-flex !important;
    justify-content: center;
}

.selectedEmoji {
    transition: 0.1s;
    transform: scale(1.2);
    outline: 3px solid #ffa101;
    border-radius: 25px;
    outline-offset: -4px;
    box-shadow: 0px 1px 7px 1px rgba($color: #c5a804cc, $alpha: 1);
    cursor: pointer;
}

.Emoji:hover {
    transform: scale(1.05);
    cursor: pointer;
    border-radius: 25px;
    outline-offset: -4px;
}

.ratingLabel {
    position: absolute;
    top: 62px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffa101;
    color: white;
    border: 1px solid black;
    border-radius: 12px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    padding: 0 5px;
    white-space: nowrap;
}

.ratingLabel::before {
    content: '';
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #ffa101;
}

.ratingText {
    font-size:  15px;
    color: black !important;
}