.dropdown {

}
.main {
  background-color: rgba(0,0,0,.5);
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  padding: 2em;
  border-radius: 2em;
  display:flex;

  &.isDesktop,&.isWidescreen {
    flex-direction: row;
    width:75%;
    justify-content: space-between;
  }
  &.isTablet{
    flex-direction: row;
    width:90%;
  }
  &.isMobile {
    flex-direction: column;
    align-items: center;
    width:100%;
  }
}

.Hero {
  &.isDesktop,&.isTablet,&.isWidescreen {
    display: inline-block;
    width: 40%;
    max-width: 400px;
  }
  &.isMobile {
    width:fit-content;

  }
}
.BarChartBlock {
  display: inline-block;
  &.isDesktop,&.isWidescreen {
    width: 60%;
    padding: 2em 2em 1em 4em;
    height: 500px;
    align-self: flex-end;
  }
  &.isTablet{
    width: 60%;
    padding: 2em 2em 1em 2em;
    height: 400px;
    align-self: flex-end;
  }
  &.isMobile {
    margin: 2em 1em 2em 1em;
    width:100%;
    height:400px;
  }
}
.Image.isMobile{
  max-height: 50vh;
  width: auto;
}
.Title {
  text-align: center;
}